.btn-primary{font-weight:bold;color:#3b474f;-webkit-box-shadow:3px 3px 0px rgba(125, 125, 125, 0.75);-moz-box-shadow:3px 3px 0px rgba(125, 125, 125, 0.75);box-shadow:3px 3px 0px rgba(125, 125, 125, 0.75);text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-image:none;border:none;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);background-color:#f8d44c;*background-color:#f8d44c;}
.fine-print{font-size:13.020000000000001px;line-height:17.22px;font-weight:250;}
.sococo-well{min-height:20px;padding:20px;margin-bottom:20px;margin-top:25px;background-color:#f9f9f9;border:1px solid #afb6ba;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;*zoom:1;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}.sococo-well:before,.sococo-well:after{display:table;content:"";line-height:0;}
.sococo-well:after{clear:both;}
html.lt-ie8 .row-fluid [class*="span"]:first-child{margin-left:0 !important;*margin-left:0 !important;}
html.lt-ie8 [class*="span"],html.lt-ie8 .row-fluid [class*="span"]{display:inline-block;margin-left:0 !important;}
html.lt-ie8 .row-fluid [class*="offset"]:first-child{margin-left:0 !important;}
html.lt-ie8 select,html.lt-ie8 textarea,html.lt-ie8 input[type="text"],html.lt-ie8 input[type="password"],html.lt-ie8 input[type="datetime"],html.lt-ie8 input[type="datetime-local"],html.lt-ie8 input[type="date"],html.lt-ie8 input[type="month"],html.lt-ie8 input[type="time"],html.lt-ie8 input[type="week"],html.lt-ie8 input[type="number"],html.lt-ie8 input[type="email"],html.lt-ie8 input[type="url"],html.lt-ie8 input[type="search"],html.lt-ie8 input[type="tel"],html.lt-ie8 input[type="color"],html.lt-ie8 .uneditable-input{display:inline-block;height:20px;padding:4px 6px 0 0;margin-bottom:10px;font-size:14px;line-height:20px;color:#555555;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;vertical-align:middle;}
.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";line-height:0;}
.clearfix:after{clear:both;}
.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.input-block-level{display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.pull-right{float:right;}
.pull-left{float:left;}
.hide{display:none;}
.show{display:block;}
.invisible{visibility:hidden;}
.affix{position:fixed;}
.content-push{height:40px;}.content-push.expanded{height:180px;}
.footer{position:absolute;bottom:0;left:0;right:0;font-size:11.9px;line-height:40px;color:#929497;overflow:hidden;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;min-height:40px;}.footer a.language{color:#929497;}.footer a.language.active{padding:2px 10px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;background-color:#929497;color:#3a464e;}
.footer .bottom,.footer .expanded{width:100%;}
.footer .bottom{position:absolute;bottom:0;left:0;right:0;background:#3a464e;}.footer .bottom a{color:#92c6e2;}.footer .bottom a:hover{text-decoration:none;}
.footer .bottom .dot{padding-left:5px;padding-right:5px;}
.footer .bottom .container .pull-left{margin-right:5px;}
.footer .avatar{position:absolute;right:40px;bottom:-45px;-webkit-transition:all 0.1s ease-in-out;-moz-transition:all 0.1s ease-in-out;-o-transition:all 0.1s ease-in-out;transition:all 0.1s ease-in-out;}.footer .avatar:hover{bottom:-10px;}
.footer .expanded{margin-bottom:40px;height:140px;background-color:#80aec7;}.footer .expanded a{font-size:14.98px;color:#ffffff;}
.footer .expanded .dot{color:#ffffff;padding-left:15px;padding-right:15px;}
.footer .expanded .social-icons{float:right;margin-top:10px;}.footer .expanded .social-icons>*{margin-right:15px;}
.footer .expanded .solutions a{font-size:12px;}
.footer ul{list-style-type:none;margin-left:0px;}
.footer .solutions ul{font-weight:normal;text-rendering:optimizelegibility;}
.footer .non-solutions ul li{display:inline;margin-right:50px;}
.footer .section-unlinked{font-size:14.98px;color:#ffffff;}
.footer .spacer{height:8px;border:0;border-left:1px solid #929497;margin-left:10px;margin-right:10px;}
@media (max-width:980px){.footer .non-solutions ul li{display:inline;margin-right:25px;}}@media (max-width:767px){.footer{margin-left:-20px;margin-right:-20px;}.footer .container{padding-left:10px;padding-right:10px;} .footer .expanded a{line-height:16px;} .footer .expanded .social-icons{margin-left:15px;float:right;display:block;} .footer .avatar{right:20px;}}@media (max-width:767px){.non-solutions{float:right;display:inline;margin-left:30px;} .non-solutions ul{margin-top:10px;} .non-solutions ul li{display:block !important;}}html,body{height:100%;}
.header{min-height:75px;padding-left:20px;padding-right:20px;background-color:#fafafa;background-image:-moz-linear-gradient(top, #ffffff, #f2f2f2);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));background-image:-webkit-linear-gradient(top, #ffffff, #f2f2f2);background-image:-o-linear-gradient(top, #ffffff, #f2f2f2);background-image:linear-gradient(to bottom, #ffffff, #f2f2f2);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);border-bottom:1px solid #d4d4d4;-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.065);-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.065);box-shadow:0 1px 4px rgba(0, 0, 0, 0.065);}.header .container{min-height:75px;position:relative;}.header .container .logo{position:absolute;margin:auto;top:0;bottom:0;color:#3e5667;font-size:14.98px;font-weight:bold;}.header .container .logo:hover{text-decoration:none;}
.header .navigation-list{list-style-type:disc;margin-top:40px;font-size:14.98px;}.header .navigation-list a{color:#1b83bb;}.header .navigation-list a:hover{text-decoration:none;color:#d67254;}
.header .navigation-list a.active{color:#606d76;}
.header .navigation-list .dot{padding-left:10px;padding-right:10px;}
.body-container{min-height:100%;position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.page-content{padding-bottom:40px;}
@media (max-width:767px){.header{min-height:80px;margin-left:-20px;margin-right:-20px;padding-left:20px;padding-right:20px;}}@media (max-width:767px){.header .container{text-align:center;}.header .container .logo{top:15px;bottom:initial;left:0;right:0;} .header .navigation-list{margin-top:95px;background-color:#ffffff;margin-left:-20px;margin-right:-20px;margin-bottom:0;padding-top:5px;padding-bottom:5px;border-top:1px solid #d4d4d4;text-align:center;display:block;float:none;}.header .navigation-list .dot{padding-left:10px;padding-right:10px;}}.video-play{position:relative;*zoom:1;display:inline-block;}.video-play:before,.video-play:after{display:table;content:"";line-height:0;}
.video-play:after{clear:both;}
.video-play *{color:#ffffff;}
.video-play:hover *{color:#f8d44c;}
.video-play:hover .cta-play{display:none;}
.video-play:hover .cta-play-hover{display:inline-block;}
.video-play .cta-play{display:inline-block;}
.video-play .cta-play-hover{display:none;}
.video-play .video{overflow:hidden;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;border:1px solid rgba(255, 255, 255, 0.8);-webkit-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);-moz-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);}
.video-play .play{position:absolute;margin:auto;left:0;right:0;top:0;bottom:0;height:160px;width:140px;text-align:center;}.video-play .play span{font-size:23.939999999999998px;}
#video-modal .modal-body{max-height:none;background-color:#000000;}
#video-modal p{text-align:center;}
@media (min-width:980px){#video-modal{margin-left:-485px;width:970px;}#video-modal iframe{width:910px;height:573.9644970414201px;}}@media (min-width:768px) and (max-width:979px){#video-modal{margin-left:-380px;width:760px;}#video-modal iframe{width:700px;height:449.70414201183434px;}}@media (max-width:767px){#video-modal iframe{width:100%;height:auto;}}.catalog-container{margin-top:50px;}.catalog-container .catalog-carousel{max-width:930px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;overflow:hidden;left:0;right:0;margin:auto;}.catalog-container .catalog-carousel .carousel-bottom{background-color:#3b474f;padding-top:10px;padding-bottom:10px;text-align:center;}.catalog-container .catalog-carousel .carousel-bottom p{color:#ffffff;}.catalog-container .catalog-carousel .carousel-bottom p.lead{font-weight:500;}
.contact-content{margin-top:15px;}.contact-content p{margin-bottom:0;font-weight:lighter;}
.contact-content .contact-box{min-height:20px;padding:25px;background-color:#f9f9f9;border:1px solid #afb6ba;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;*zoom:1;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-weight:lighter;margin-top:20px;margin-bottom:50px;padding-top:25px;}.contact-content .contact-box:before,.contact-content .contact-box:after{display:table;content:"";line-height:0;}
.contact-content .contact-box:after{clear:both;}
.contact-content .contact-box .email input{margin-bottom:0;}
.contact-content .contact-box .message textarea{height:110px;resize:none;}
.contact-content .contact-box .send{margin-top:10px;}
.contact-content .contact-box .thanks{display:none;}.contact-content .contact-box .thanks.show{display:inline-block;}
.contact-content .contact-box .thanks h2{margin-top:0;}
.jumbotron{position:relative;padding:40px 0;color:#ffffff;text-align:right;text-shadow:3px 3px 0 rgba(0, 0, 0, 0.4),0 0 30px rgba(0, 0, 0, 0.075);background-image:url('images/home/banner.jpg');background-position:top center;background-repeat:no-repeat;}.jumbotron .call-to-action{text-align:left;color:#ffffff;}.jumbotron .call-to-action p{font-size:40.04px;font-weight:600;line-height:40.04px;margin-bottom:30px;}
.jumbotron .call-to-action h1{color:#ffffff;font-size:14.98px;text-transform:uppercase;line-height:20px;letter-spacing:2px;text-shadow:2px 2px 0 rgba(0, 0, 0, 0.4),0 0 30px rgba(0, 0, 0, 0.075);margin:0;margin-bottom:5px;}
.jumbotron .call-to-action .btn{font-size:29.96px;line-height:29.96px;}
.feature-block .lead{font-size:20.02px;line-height:21.42px;font-weight:bold;text-align:center;}
.feature-block p.details{text-align:left;font-size:14.98px;line-height:21.42px;}
.feature-thumbnails{margin-left:0;}.feature-thumbnails li{position:relative;}
.feature-thumbnails .thumbnail{text-align:left;}.feature-thumbnails .thumbnail img{position:absolute;left:0;top:0;}
.feature-thumbnails .thumbnail p{padding-left:40px;}
.thumbnail{color:#3b474f;border:none;box-shadow:none;}
h1,h2,h3{color:#3b474f;}
.top-icon-thumbnails{margin-bottom:35px;margin-left:0;*zoom:1;}.top-icon-thumbnails:before,.top-icon-thumbnails:after{display:table;content:"";line-height:0;}
.top-icon-thumbnails:after{clear:both;}
.top-icon-thumbnails .thumbnail{text-align:center;}.top-icon-thumbnails .thumbnail h2{margin-top:-6px;}
.top-icon-thumbnails .thumbnail .lead{font-weight:500;}
.top-icon-thumbnails .thumbnail ul{list-style-type:disc;text-align:left;}
#screens-carousel{max-width:930px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;overflow:hidden;left:0;right:0;margin:auto;}#screens-carousel .carousel-bottom{background-color:#3b474f;padding-top:20px;padding-bottom:20px;text-align:center;}#screens-carousel .carousel-bottom p{color:#ffffff;text-align:center;}#screens-carousel .carousel-bottom p.lead{margin-bottom:10px;font-weight:500;}
#testimonials{min-height:20px;padding:25px;background-color:#f9f9f9;border:1px solid #afb6ba;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;*zoom:1;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding-top:20px;padding-bottom:20px;margin-top:35px;margin-bottom:20px;}#testimonials:before,#testimonials:after{display:table;content:"";line-height:0;}
#testimonials:after{clear:both;}
#testimonials .quote-container{min-height:100px;position:relative;*zoom:1;}#testimonials .quote-container:before,#testimonials .quote-container:after{display:table;content:"";line-height:0;}
#testimonials .quote-container:after{clear:both;}
#testimonials .quote-container .logo img{position:absolute;margin:auto;top:0;bottom:0;}
#testimonials .quote-container blockquote{font-family:Georgia,"Times New Roman",Times,serif;font-style:italic;font-size:20.02px;line-height:24px;position:relative;border:none;padding-left:25px;margin-bottom:0;color:#606d76;}#testimonials .quote-container blockquote small{margin-top:10px;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-style:normal;color:#606d76;font-size:15.959999999999999px;}
#testimonials .quote-container blockquote:before{font-style:italic;font-family:Georgia,"Times New Roman",Times,serif;content:"\201C";font-weight:600;font-size:54.04px;position:absolute;left:-13px;top:13px;}
.ready-for ul{margin-bottom:0;}
.ready-for h2{margin-bottom:-10px;}
.try-now-form{min-height:20px;padding:25px;background-color:#f9f9f9;border:1px solid #afb6ba;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;*zoom:1;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}.try-now-form:before,.try-now-form:after{display:table;content:"";line-height:0;}
.try-now-form:after{clear:both;}
.try-now-form .head{font-size:32.06px;line-height:32.06px;font-weight:bold;overflow:visible;white-space:nowrap;}
.try-now-form .control-group{margin-bottom:0;}
.try-now-form .upsell{font-size:20.02px;line-height:20.02px;font-weight:lighter;}.try-now-form .upsell h2{margin-top:0;line-height:30px;}
.try-now-form .upsell li{line-height:29.400000000000002px;}
.trial-details{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}.trial-details .fine-print{padding-left:25px;padding-right:25px;}
@media (max-width:980px){.trial-details .fine-print br{display:none;}}@media (max-width:767px){.jumbotron{color:inherit;background-image:none;text-align:center;}.jumbotron .call-to-action{text-align:center;}.jumbotron .call-to-action *{color:#3b474f !important;text-shadow:none !important;} .jumbotron .call-to-action-video{margin-top:30px;} .try-now-form .head{white-space:normal;text-align:center;} .top-icon-thumbnails{margin-left:0;} #testimonials .quote-container .logo{text-align:center;}#testimonials .quote-container .logo img{position:static;margin:0;margin-top:10px;}}.pricing-content{margin-top:15px;}.pricing-content .pricing-box{min-height:20px;padding:25px;background-color:#f9f9f9;border:1px solid #afb6ba;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;*zoom:1;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;padding-top:10px;margin-top:20px;overflow:hidden;}.pricing-content .pricing-box:before,.pricing-content .pricing-box:after{display:table;content:"";line-height:0;}
.pricing-content .pricing-box:after{clear:both;}
.pricing-content .pricing-box .controls-row,.pricing-content .pricing-box hr{margin-left:25px;margin-right:25px;margin-top:5px;margin-bottom:5px;}
.pricing-content .pricing-box .avail-options{margin-top:15px;}
.pricing-content .pricing-box .phone-fine-print{margin-bottom:0px;}
.pricing-content .pricing-box .pricing-bottom{text-align:left;padding-left:25px;padding-right:25px;margin-top:10px;background-color:#606d76;padding-top:10px;padding-bottom:10px;text-align:center;*zoom:1;}.pricing-content .pricing-box .pricing-bottom p{color:#ffffff;}.pricing-content .pricing-box .pricing-bottom p.lead{line-height:29px;font-weight:500;}
.pricing-content .pricing-box .pricing-bottom>*{display:inline-block;width:auto;float:left;margin-right:5px;}
.pricing-content .pricing-box .pricing-bottom:before,.pricing-content .pricing-box .pricing-bottom:after{display:table;content:"";line-height:0;}
.pricing-content .pricing-box .pricing-bottom:after{clear:both;}
.pricing-content .pricing-box .pricing-bottom .btn{font-size:22px;margin-top:2px;margin-bottom:10px;}
.pricing-content .pricing-box .pricing-bottom .call-us,.pricing-content .pricing-box .pricing-bottom .contact-sales{margin-bottom:2px;}
.pricing-content .pricing-box .pricing-bottom .call-us{font-weight:bolder;}
.pricing-content .pricing-box .pricing-bottom .contact-sales{font-weight:lighter;font-size:14px;}
.pricing-content .pricing-box h4{margin:5px 0;}
.pricing-content .pricing-box hr{border-top-color:#afb6ba;border-bottom-color:none;}
.pricing-content .pricing-box .pricing-header{line-height:31px;padding-top:20px;max-width:500px;font-weight:300;text-align:center;}
.pricing-content .pricing-box ul{text-align:left;}.pricing-content .pricing-box ul li{font-size:18px;line-height:23px;font-weight:lighter;}
.pricing-content .pricing-box .pricing-tag{text-align:center;display:inline-block;margin-left:-13px;}.pricing-content .pricing-box .pricing-tag .details{font-size:13.020000000000001px;color:#606d76;}
.pricing-content .pricing-box .pricing-tag .price-container{position:relative;width:125px;left:0;right:0;margin:auto;font-weight:light;}.pricing-content .pricing-box .pricing-tag .price-container .pricing{margin-top:7px;margin-bottom:7px;font-weight:bold;font-size:63.980000000000004px;}.pricing-content .pricing-box .pricing-tag .price-container .pricing:before{display:block;content:"$";font-size:29.96px;position:absolute;left:10px;top:-7px;}
@media (min-width:768px){.pricing-content .pricing-box .pricing-tag{width:125px;} .pricing-content .pricing-box .pricing-header{text-align:left;} .pricing-content .pricing-box .pricing-bottom{text-align:left;}.pricing-content .pricing-box .pricing-bottom .btn{margin-bottom:0px;}}.support-padding{padding-top:10px;}
.support-toggle{padding:0px 15px;}
.shiftedLink{padding-left:15px;}
.support-content{padding-left:20px;}.support-content>p{padding-left:10px;}
.support-row{padding-bottom:50px;}
.row-highlight{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-transition:background-color 2s ease;-moz-transition:background-color 2s ease;-o-transition:background-color 2s ease;transition:background-color 2s ease;background-color:#fdf4d2;}
.business-chat .subhead{width:80%;}
.business-chat .bc-image{margin-top:10px;margin-bottom:25px;}
.business-chat .image-side-desc{margin-left:-130px;line-height:16px;margin-top:60px;width:280px;}
.business-chat .security-logo{margin-right:10px;}
.business-chat .security-caption{width:240px;}
@media (max-width:980px){.business-chat .image-side-desc{width:170px;margin-left:-60px;}}@media (max-width:767px){.business-chat .image-side-desc{width:100%;margin-top:0px;}}
.leaf-mini-nav{background-image:none;background-color:#e6e6e6;min-height:0px;}.leaf-mini-nav .container{min-height:0px;}.leaf-mini-nav .container .navigation-list{margin-top:5px;margin-bottom:5px;font-weight:lighter;font-size:13px;}
.leaf-mini-nav .container .dot{padding-left:5px;padding-right:5px;}
.leaf-mini-nav .container a{white-space:nowrap;color:#1b83bb;}.leaf-mini-nav .container a:hover{text-decoration:underline;color:#1b83bb;}
.leaf-mini-nav .container a.active{color:#606d76;}
@media (max-width:767px){.leaf-mini-nav .navigation-list{background-color:inherit;padding:0px;border-top:0px;}}.leaf-page{font-size:15px;font-weight:lighter;}.leaf-page .head-spacer{margin-top:30px;}
.leaf-page .foot-spacer{margin-bottom:50px;}
.leaf-page .chopped{margin-bottom:0px;}
.leaf-page .central-image{margin-top:15px;margin-bottom:15px;}
.leaf-page h1{margin-top:0px;}
.leaf-page h2{line-height:28px;}
.leaf-page h3{line-height:20px;margin-bottom:3px;}
.leaf-page ul{margin-left:19px;}
.screen-sharing .bottom-spacer{margin-bottom:15px;}
.screen-sharing .project-room{margin-left:0px;}
.video-conferencing .video-conf-image{margin-top:15px;margin-bottom:15px;}
.voice-conferencing .fine-print{margin-top:20px;}
.sign-up-view.loading>*{opacity:0.5;filter:alpha(opacity=50);}
.sign-up-view .popover{width:350px;}
.sign-up-view .help-block{margin-bottom:0;display:inline-block;}
.sign-up-view .hide{display:none !important;}
.sign-up-view label{margin-top:10px;}
/* .sign-up-view input{margin-bottom:0;} */
.sign-up-view .control-group{*zoom:1;}.sign-up-view .control-group:before,.sign-up-view .control-group:after{display:table;content:"";line-height:0;}
.sign-up-view .control-group:after{clear:both;}
.sign-up-view .create-row{margin-top:10px;}.sign-up-view .create-row .fine-print{margin-top:5px;padding-left:10px;}
.sign-up-view .create-row .btn-create{font-size:23.939999999999998px;line-height:23.939999999999998px;}
.sign-up-view .phone-number a{min-width:150px !important;height:30px;line-height:30px;}
.sign-up-view .phone-number .help-block{margin-left:0 !important;}
.sign-up-view .phone-number .flag{margin-left:10px;display:inline-block;}
@media (min-width:768px) and (max-width:979px){.sign-up-view .create-row .btn-create{padding-left:5px;padding-right:5px;}}@media (max-width:980px){.sign-up-view .create-row .fine-print{margin-top:0px;}}@media (max-width:767px){.sign-up-view .create-row .fine-print{margin-top:10px;padding:0;}}
