@charset "utf-8";/* CSS Document */
body {
	background:#d2d2d2;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#4f4f4f;
	-webkit-font-smoothing: antialiased;
}
.left, .alignleft {
	float:left;
}
.right, .alignright {
	float:right;
}
.clear {
	clear:both;
}
h1 {
	font-size:24px;
	min-height:26px;
}
p {
	line-height:22px;
	padding:10px 0 10px 0;
}
#wrapper {
	width:100%;
}
.center {
	width:998px;
	margin:0 auto;
}
#header {
	background:url(../images/headerbg.gif) repeat-x scroll left top;
	border-bottom:#fff 1px solid;
}
#head_patteren {
 /*	background:url(../images/head_patteren.png) no-repeat scroll center top; */
}
#header .center {
	height:60px;
}
#logo {
	padding:9px 0 0 0;
}
#right_head {
	text-align:right;
	font-size:11px;
	color:#828282;
	text-shadow:#fff 1px 1px 1px;
	padding:8px 0 0 0;
}
#right_head a {
	color:#0090f0;
}
#right_head a:hover {
	color:#ea8111;
}
#right_head #userarea a.myaccount {
	margin-left:3px;
}
#right_head #userarea a.logout {
	display:inline-block;
	background:url(../images/logout.png) no-repeat scroll left top;
	height:26px;
	width:60px;
	text-align:center;
	font-weight:bold;
	color:#828282;
	text-decoration:none;
	line-height:26px;
	margin:0 7px 0 5px;
}
#bookmark {
	padding:7px 0 0 0;
}
#bookmark span {
	padding-right:5px;
}
#bookmark a.sel_lang img {
	border:#fff 1px solid;
}
#right_head #bookmark span#bookmarkus a {
	display:inline-block;
	background:url(../images/bookmark.png) no-repeat scroll left top;
	width:114px;
	height:26px;
	text-align:center;
	font-weight:bold;
	color:#828282;
	text-decoration:none;
	line-height:26px;
	padding-left:10px;
	margin:0 0 0 3px;
}
#account_links span {
	padding:0 5px 0 5px;
}
#account_links a.active {
	color:#ea8111;
}
#nav {
	/*background:url(../images/nav_bg.png) repeat-x scroll left top;*/
	background: linear-gradient(to bottom, rgba(27,131,228,1) 76%, rgba(27,131,228,1) 89%, rgba(23,104,196,1) 100%);
}
#nav .center {
	height:40px;
	/*background:url(../images/nav_sep.gif) no-repeat scroll left center;*/
}
#nav ul li {
	display:block;
	float:left;
	/*background:url(../images/nav_sep.gif) no-repeat scroll right center;*/
	height:40px;
	line-height:40px;
}
#nav ul li a {
	display:block;
	font-size:15px;
	color:#FFFFFF;
	text-decoration:none;
	/*text-shadow:#fff 1px 1px 1px;*/
	text-align:center;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
}
#nav ul li a:hover, #nav ul li.active a {
	background: /*linear-gradient(to bottom, rgba(219,219,219,1) 8%, rgba(222,222,222,1) 30%, rgba(229,229,229,1) 74%, rgba(230,230,230,1) 80%);*/  #0047e8;
		color:#FFFFFF;
}
#nav ul li a.nav_1, #nav ul li a.nav_2, #nav ul li a.nav_3, #nav ul li a.nav_4, #nav ul li a.nav_5 {
	width:160px;
}
#nav ul li a.nav_6 {
	width:198px;
}
#page_body {
	background:#fff;
}
#page_body .center {
	padding:15px 0 20px 0;
	min-height:475px;
}
.acc_tabs {
	height:34px;
	padding:15px 0 0 0;
}
.acc_tabs ul li {
	display:block;
	float:left;
	background:url(../images/tabs.gif) repeat-x scroll left top;
	height:34px;
	line-height:34px;
	border:#dbdbdb 1px solid;
	border-bottom:0 none;
	border-top-right-radius:7px;
	border-top-left-radius:7px;
	margin-left:2px;
}
.acc_tabs ul li:first-child {
	margin-left:0;
}
.acc_tabs ul li a {
	display:block;
	color:#000000;
	text-shadow:#fff 1px 1px 1px;
	text-decoration:none;
	padding:0 11px 0 11px;
}
.acc_tabs ul li.active {
	background:url(../images/activetab.gif) repeat-x scroll left top;
	margin-bottom:-1px;
}
.acc_tabs ul li.active a, .acc_tabs ul li a:hover {
	color:#0090f0;
}
.modeltabs ul li a {
	padding:0;
	text-align:center;
}
.modeltabs ul li a.mnav_1 {
	width:107px;
}
.modeltabs ul li a.mnav_2 {
	width:98px;
}
.modeltabs ul li a.mnav_3 {
	width:91px;
}
.modeltabs ul li a.mnav_4 {
	width:118px;
}
.modeltabs ul li a.mnav_5 {
	width:122px;
}
.modeltabs ul li a.mnav_6 {
	width:97px;
}
.modeltabs ul li a.mnav_7 {
	width:128px;
}
.modeltabs ul li a.mnav_8 {
	width:129px;
}
.modeltabs ul li a.mnav_9 {
	width:74px;
}
.tabs_contents {
	background:#fafafa;
	min-height:300px;
	padding:20px;
	border:#dbdbdb 1px solid;
	border-bottom-right-radius:7px;
	border-bottom-left-radius:7px;
	box-shadow:0 1px 1px 0 #f4f4f4;
}
.input_field {
	background:#fff url(../images/field_bg.gif) repeat-x scroll left bottom;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#828282;
	border:#dbdbdb 1px solid;
	padding:8px;
	border-radius:7px;
	width:432px;
	margin:0;
	box-shadow:0 1px #f5f5f5;
}
select.input_field {
	padding:7px 5px 7px 5px;
	width:450px;
}
 @media screen and (-webkit-min-device-pixel-ratio:0) {
 select.input_field {
 height:32px;
 line-height:27px;
}
}

.btn, .a_btn, .small_btns a {
	background:url(../images/btn.gif) repeat-x scroll left top;
	min-width:95px;
	height:32px;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	text-shadow:1px 1px 1px #262626;
	border:#919191 1px solid;
	cursor:pointer;
	border-radius:7px;
	box-shadow:0 1px 1px #CECECE;
}
.btn:hover, .a_btn:hover, .small_btns a:hover {
	opacity:0.9;
}

.btnmy, .a_btnmy,.small_btnsmy a {
	background:url(../images/btn.gif) repeat-x scroll left top;
	min-width:95px;
	height:32px;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	text-shadow:1px 1px 1px #262626;
	border:#919191 1px solid;
	cursor:pointer;
	border-radius:7px;
	box-shadow:0 1px 1px #CECECE;
}
.btnmy:hover, .a_btnmy:hover, .small_btnsmy a:hover {
	opacity:0.9;
}
/********************************************************************* Start FireFox CSS Hack ********************************************************************/

@-moz-document url-prefix() {
 .btn {
 padding-bottom:2px;
}
}
/********************************************************************* End FireFox CSS Hack *********************************************************************/



.edit_form .left, .edit_form .right {
	width:450px;
}
.edit_form .left {
	border-right:#e8e8e8 1px solid;
	padding-right:27px;
}
.edit_form .right {
	padding-left:27px;
}
.edit_form p, .support_form p {
	padding:0;
	margin-bottom:8px;
	line-height:normal;
}
.edit_form p strong, .support_form p strong {
	display:block;
	padding:0 0 3px 0;
}
.edit_form span.labels {
	display:inline-block;
	height:33px;
	line-height:33px;
	color:#828282;
}
#footer {
	background:url(../images/footer_bg.gif) repeat-x scroll left top;
	padding:2px 0 0 0;
	height:50px;
	line-height:50px;
	font-size:11px;
	text-shadow:#fff 1px 1px 1px;
	color:#949494;
}
#footer a {
	color:#0090f0;
	text-decoration:none;
}
#footer a:hover {
	text-decoration:underline;
}
#footer .left span {
	padding:0 7px 0 7px;
	text-shadow:none;
	color:#999999;
}
#INL_confirm {
	background:#ebebeb url(../images/inlinebg.png) repeat-x scroll left bottom;
	padding:22px 0 22px 0;
	width:100% !important;
/*	text-shadow:#fff 1px 1px 1px;  */
	position:absolute;
	top:0;
	left:0;
}
#INL_confirm .center {
	border-left:#fafafa 1px solid;
	border-right:#fafafa 1px solid;
	width:960px;
	padding:0 18px 0 18px;
	position:relative;
}
.clz_INL {
	position:absolute;
	right:-2px;
	bottom:-46px;
}
.clz_INL a {
	background:url(../images/clz_btn.png) no-repeat scroll left top;
	width:90px;
	height:28px;
	text-align:center;
	color:#4f4f4f;
	font-weight:bold;
	text-decoration:none;
	line-height:22px;
	display:block;
}
.clz_INL a.INLA {
	background:url(../images/clz_btn2.png) no-repeat scroll left top;
	width:118px;
}
.clz_INL a span {
	background:url(../images/clz_ico.gif) no-repeat scroll right center;
	padding-right:22px;
	display:inline-block;
	min-height:18px;
}
#advancesrch_cont {
	background:url(../images/advance_search.gif) repeat-x scroll left top;
	height:39px;
	border:#e7e7e7 1px solid;
	border-top:0 none;
	border-bottom-right-radius:7px;
	border-bottom-left-radius:7px;
	margin:-15px 0 20px 0;
	position:relative;
	padding:0 10px 0 10px;
}
.select_box {
	float:left;
	margin:6px 4px 0 0;
}
.advmodel_search .input_field, .sortby .input_field {
	width:150px;
	padding:0 0 0 5px;
	height:23px;
	line-height:23px;
	border-top-right-radius:0;
	border-bottom-right-radius:0;
	border-bottom-left-radius:7px;
	border-top-left-radius:7px;
	border-right:0 none;
	font-size:11px;
	background:#fff;
 border::#e3e3e3 1px solid;
	box-shadow:0 1px 1px 0 #fff;
	margin-right:-4px;
}
.select_box, .select_box2, .select_box3, .select_box4 {
	float:left;
	margin:6px 4px 0 0;
	background:url(../images/dropimg.png) no-repeat scroll left top;
	width:67px;
	height:27px;
	position:relative;
}
.select_box2 {
	background:url(../images/dropimg1.png) no-repeat scroll left top;
	width:87px;
}
.select_box3 {
	background:url(../images/dropimg2.png) no-repeat scroll left top;
	width:77px;
}
.select_box4 {
	background:url(../images/dropimg3.png) no-repeat scroll left top;
	width:127px;
}
.select_box .dropdown, .select_box2 .dropdown, .select_box3 .dropdown, .sorting_area .sortby .dropdown, .select_box4 .dropdown {
	color: #653600;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 1px 0 0;
	opacity: 0;
	padding: 2px;
	width: 70px;
}
.select_box2 .dropdown {
	width:90px;
}
.select_box3 .dropdown {
	width:80px;
}
.select_box4 .dropdown {
	width:130px;
}
.sorting_area .sortby .dropdown {
	width:170px;
}
.select_box p, .select_box2 p, .select_box3 p, .sorting_area .sortby p, .select_box4 p {
	font-size: 11px;
	left: 8px;
	padding: 0;
	position: absolute;
	top: 7px;
	line-height:normal;
	color:#828282;
}
.sorting_area .sortby p {
	top:6px;
}
.advmodel_search {
	float:right;
	margin:6px 0 0 0;
	font-size:11px;
}
.advmodel_search a {
	color:#0090f0;
	text-shadow:#fff 1px 1px 1px;
	margin-left:5px;
}
#HM_left {
	width:712px;
	padding-right:10px;
	border-right:#0090f0 1px solid;
}
.thumbview li {
	display:block;
	float:left;
	width:134px;
	margin:10px 10px 0 0;
	position:relative;
}
.thumbview li.lastchild {
	margin-right:0;
}
.thumbview li .model_img {
	padding:1px;
	box-shadow: 0 0 3px #d5d4d4;
}
.thumbview li .model_stats {
	position:absolute;
	bottom:1px;
	left:1px;
	height:26px;
	line-height:26px;
	color:#fff;
	text-shadow:#000 1px 1px 1px;
	background:url(../images/statusbg.png) repeat;
	width:132px;
}
.thumbview li .model_stats .modelname {
	float:left;
	padding-left:4px;
}
.thumbview li .model_stats .model_status {
	float:right;
	padding-right:4px;
}
.offline {
	color:#fc191d;
}
.online {
	color:#99e000;
}
.pagination_cont {
	padding-top:20px;
}
.pagination_cont .left {
	padding-top:2px;
}
.pagination li {
	display:block;
	float:left;
	width:20px;
	height:20px;
	margin-left:3px;
	background:#c7c7c7;
	text-shadow: 1px 1px 1px #7a7a7a;
	color:#fff;
	border-radius:3px;
}
.pagination li a {
	display:block;
	text-align:center;
	line-height:20px;
	text-decoration:none;
	color:inherit;
}
.pagination li.active, .pagination li:hover {
	background:#0090f0;
	text-shadow: 1px 1px 1px #0072be;
}
.pagination li.previous_li, .pagination li.next_li {
	margin:0 7px 0 0;
	padding:0 0 0 18px;
	background:url(../images/p5previous_bg.png) left center no-repeat;
	text-shadow: 1px 1px 1px #f0efef;
	width:auto;
	color:#828282;
	border-radius:0;
}
.pagination li.next_li {
	padding:0 18px 0 0;
	background:url(../images/p5next_bg.png) right center no-repeat;
	margin:0 0 0 10px;
}
#HM_right {
	width:265px;
}
#HM_right ul.thumbview li {
	width:124px;
	margin-right:12px;
}
#HM_right ul.thumbview li.lastchild {
	margin-right:0;
}
#HM_right ul.thumbview li .model_stats {
	width:122px;
	font-size:11px;
}
.MS_title {
	border:#e6e6e6 1px solid;
	border-radius:7px;
	margin:15px 0 3px 0;
}
.MS_title span {
	display:block;
	border:#f9f9f9 1px solid;
	border-radius:7px;
	background:url(../images/title.gif) repeat-x scroll left top;
	height:24px;
	line-height:24px;
	padding-left:10px;
	font-size:14px;
	font-weight:bold;
	text-shadow:#fff 1px 1px 1px;
	color:#ea8111;
}
.sorting_area {
	min-height:31px;
}
.sorting_area .sortby {
	float:left;
	position:relative;
	background:url(../images/sort_dd.gif) no-repeat scroll left top;
	width:165px;
	height:25px;
	margin-right:104px;
}
.shownumber {
	float:left;
	padding:1px 0 0 0;
}
.shownumber strong {
	padding-right:3px;
}
.shownumber a {
	display:inline-block;
	color:#4f4f4f;
	text-decoration:none;
	padding:3px 4px 3px 4px;
}
.shownumber a.active {
	background:#0090f0;
	color:#fff;
	text-shadow:#0063a6 1px 1px 1px;
	border-radius:3px;
}
.sorting_area strong.left {
	padding:5px 7px 0 0;
	display:inline-block;
}
.viewcont {
	float:right;
	padding:2px 0 0 0;
}
.viewcont a {
	display:inline-block;
	text-indent:-99999px;
	width:24px;
	height:22px;
	margin-left:2px;
}
.viewcont a.THview {
	background:url(../images/thumb_view.gif) no-repeat scroll left top
}
.viewcont a.THview_sel {
	background:url(../images/thumb_view_sel.gif) no-repeat scroll left top
}
.viewcont a.LSview {
	background:url(../images/list_view.gif) no-repeat scroll left top
}
.viewcont a.LSview_sel {
	background:url(../images/list_view_sel.gif) no-repeat scroll left top
}
.homelistview {
	border-top:#e8e8e8 1px solid;
	margin:10px 0 0 0;
}
.homelistview p {
	padding:0;
	line-height:20px;
}
.homelistview table th {
	border-bottom:#e8e8e8 1px solid;
	height:29px;
	line-height:29px;
	font-weight:bold;
	text-align:left;
	color:#ea8111;
}
.homelistview table td {
	line-height:20px;
	padding:18px 0 18px 0;
	border-bottom:#e8e8e8 1px solid;
}
.homelistview .model_info {
	width:435px;
}
.homelistview .model_info a {
	color:#0090f0;
}
.homelistview .model_info .left {
	width:152px;
	position:relative;
	margin:4px 0 0 0;
}
.homelistview .model_info .left img {
	box-shadow: 0 0 3px #D5D4D4;
	padding: 1px;
}
.homelistview .model_info .left .model_stats {
	position:absolute;
	bottom:1px;
	left:1px;
	height:26px;
	line-height:26px;
	color:#fff;
	text-shadow:#000 1px 1px 1px;
	background:url(../images/statusbg.png) repeat;
	width:132px;
}
.homelistview .model_info .left .model_stats .modelname {
	float:left;
	padding-left:4px;
}
.homelistview .model_info .left .model_stats .model_status {
	float:right;
	padding-right:4px;
}
.homelistview .model_info .right {
	width:283px;
}
.homelistview .model_info p {
	padding:5px 0 0 0;
}
.homelistview .model_availability {
	width:115px;
}
.homelistview .model_availability p, .homelistview .msale_items p {
	clear:both;
}
.homelistview .model_availability p span, .homelistview .msale_items p span {
	display:block;
	float:left;
	width:80px;
}
.homelistview .msale_items p span {
	width:90px;
}
.homelistview .model_availability p span.ma_desc, .homelistview .msale_items p span.ma_desc {
	float:right;
	text-align:right;
	width:35px;
	color:#828282;
}
.homelistview .msale_items p span.ma_desc {
	width:33px;
}
.sorting_area .LVM {
	margin-right:220px;
}
.NLhead {
	margin:5px 0 0 0;
}
#right_head #userarea span#bookmarkus a {
	display:inline-block;
	background:url(../images/bookmark.png) no-repeat scroll left top;
	width:114px;
	height:26px;
	text-align:center;
	font-weight:bold;
	color:#828282;
	text-decoration:none;
	line-height:26px;
	padding-left:10px;
	margin:0 7px 0 7px;
}
.SL_contents {
	padding:10px 0 0 25px;
}
.SL_contents li {
	display:block;
	background:url(../images/bullet.gif) no-repeat scroll left 10px;
	line-height:26px;
	padding-left:15px;
	text-decoration:underline;
}
.SL_contents li a {
	color:#4f4f4f;
}
.STimg_cont {
	float:left;
	padding:15px 20px 10px 0;
}
.model_contract {
	height:55px;
	padding-top:4px;
}
.model_contract a {
	color:#0097ef;
	padding-left:40px;
	background:url(../images/pdf_contract.png) no-repeat scroll left center;
	display:inline-block;
	min-height:31px;
	line-height:31px;
	font-size:14px;
	font-weight:bold;
}
.model_contract a:hover {
	text-decoration:none;
}
#twocols_cont #leftcol {
	width:782px;
	padding-right:15px;
	border-right:#4f4f4f 1px dotted;
}
#leftcol li {
	display:block;
	position:relative;
	margin:10px 0 18px 0;
}
#leftcol li .newsshare {
	text-align:right;
	padding:5px 0 0 0;
	border-top:#4f4f4f 1px dotted;
	margin:5px 0 0 0;
}
#leftcol li .left {
	width:262px;
}
#leftcol li .right {
	width:520px;
}
#leftcol li h5 {
	font-size:14px;
	font-weight:bold;
	width:410px;
}
#leftcol li h5 a {
	color:#4f4f4f;
	text-decoration:none;
}
#leftcol li h5 a:hover {
	color:#0090f0;
}
#leftcol li .newsdate {
	position:absolute;
	right:0;
	top:1px;
}
#leftcol li p {
	padding:2px 0 10px 0;
}
#rightcol {
	padding-left:15px;
	width:185px;
}
#rightcol h5 {
	font-weight:bold;
	font-size:14px;
	color:#ff00bf;
}
#rightcol ul li {
	display:block;
	line-height:20px;
	padding:8px 0 15px 0;
	border-bottom:#4f4f4f 1px dotted;
}
#rightcol ul li a {
	color:#4f4f4f;
	text-decoration:none;
}
#rightcol ul li a:hover {
	color:#0090f0;
}
.recentcomments {
	padding:22px 0 0 0;
}
#rightcol .recentcomments ul li a {
	color:#0090f0;
	text-decoration:underline;
}
.news_detail {
	position:relative;
}
.news_detail .newsdate {
	position:absolute;
	right:0;
	top:15px;
}
.news_detail h5 {
	font-size:14px;
	font-weight:bold;
	padding:15px 0 0 0;
	width:650px;
}
.news_detail .authorname {
	padding:5px 0 15px 0;
	font-weight:bold;
}
.news_detail .authorname a {
	color:#0090f0;
	font-weight:normal;
}
.entercomments {
	margin:10px 0 0 0;
	padding:15px 0 0 0;
	border-top:#4f4f4f 1px dotted;
	text-align:right;
}
.abs_date {
	position:absolute;
	right:0;
	top:0;
}
.advanced_filter {
	padding:15px 0 0 0;
}
.advanced_filter .left, .advanced_filter .right {
	width:460px;
	padding:0;
	border:0 none;
}
.advanced_filter .input_field {
	width:442px;
}
.advanced_filter select.input_field {
	width:460px;
}
.camoffering {
	float:left;
	margin:-7px 10px 0 0;
	position:relative;
}
.camoffering a {
	display:inline-block;
	background:url(../images/cam_offering.png) no-repeat scroll right top;
	height:39px;
	text-align:right;
	color:#737373;
	text-decoration:none;
	font-weight:bold;
	padding:4px 75px 0 0;
	line-height:14px;
}
.MS_plans {
	text-align:center;
	padding:25px 0 0 0;
}
.MS_plans .a_btn {
	text-align:left !important;
	padding:0 12px 0 12px;
}
.MS_plans .a_btn span {
	display:inline-block;
}
.MS_plans .a_btn span.mg {
	background:url(../images/guide_ico.png) no-repeat scroll left center;
	padding-left:33px;
}
.MS_plans .a_btn span.mc {
	background:url(../images/comparison_ico.png) no-repeat scroll left center;
	padding-left:42px;
}
.CT_cont {
	color:#828282;
}
.CT_cont table th.TT_left {
	width:5px;
	background:url(../images/TT_left.gif) no-repeat scroll left top;
	padding:0 !important;
}
.CT_cont table th.TT_right {
	width:5px;
	background:url(../images/TT_right.gif) no-repeat scroll right top;
	padding:0 !important;
}
.CT_cont table th.TT_bg {
	height:29px;
	font-weight:bold;
	padding:0 15px 0 15px !important;
	text-align:left;
	background:url(../images/TT_bg.gif) repeat-x scroll left top;
	color:#828282;
}
.CT_cont table td {
	line-height:18px;
	padding:6px 15px 6px 15px;
	background:#fdfdfd;
}
.CT_cont table td.LB {
	border-left:#e6e6e6 3px solid;
}
.CT_cont table td.TL_bg {
	padding:0;
	background:url(../images/TL_bg2.gif) repeat-y scroll top;
}
.CT_cont table td.TR_bg {
	padding:0;
	background:url(../images/TR_bg1.gif) repeat-y scroll top;
}
.CT_cont table tr.alter_row td {
	background:#f9f9f9;
}
.CT_cont table tr.alter_row td.TL_bg {
	background:url(../images/TL_bg1.gif) repeat-y scroll top;
}
.CT_cont table tr.alter_row td.TR_bg {
	background:url(../images/TR_bg2.gif) repeat-y scroll top;
}
.CT_cont table tr.lastrow td {
	height:7px;
	padding:0;
}
.CT_cont table tr.lastrow td.TL_bg {
	background:url(../images/TB_left.gif) no-repeat scroll left bottom;
	height:7px;
	width:5px;
}
.CT_cont table tr.lastrow td.TR_bg {
	background:url(../images/TB_right.gif) no-repeat scroll left bottom;
	height:7px;
	width:5px;
}
.support_sections {
	padding:20px 0 0 0;
}
.support_sections h5 {
	font-weight:bold;
	color:#262626;
	font-size:14px;
}
.support_sections h5 a {
	color:#262626;
}
.support_sections h5 a:hover {
	text-decoration:none;
}
.support_sections p {
	padding:5px 0 0 0;
}
.support_form {
	width:450px;
	padding:15px 0 25px 0;
}
.support_form textarea {
	height:80px;
	background:#fff url(../images/textarea.gif) repeat-x scroll left bottom;
}
.tophead {
	padding-bottom:10px;
}
.VOD ul li {
	display:block;
	float:left;
	width:134px;
	margin:12px 10px 0 0;
	position:relative;
}
.VOD ul li {
	display:block;
	float:left;
	width:134px;
	margin:12px 10px 10px 0;
	position:relative;
}
.VOD ul li .video_preview {
	box-shadow:0 0 3px #D5D4D4;
	padding:1px;
	position:relative;
}
.VOD ul li .VDT {
	padding:7px 0 0 0;
}
.VOD ul li .VDT p {
	line-height:18px;
	padding:0;
	clear:both;
}
.VOD ul li .VDT p strong {
	font-weight:normal !important;
	display:block;
	float:left;
	width:64px;
}
.VOD ul li .VDT p span {
	display:block;
	float:left;
	width:70px;
	color:#828282;
}
.VOD ul li .VDT h6 {
	padding-bottom:3px;
}
.VOD_POP {
	position:absolute;
	width:230px;
	border:#fff 1px solid;
	box-shadow:0 0 5px #D5D4D4;
	background:#f7f7f7;
	padding:10px;
	top:0;
	right:-263px;
	display:none;
	z-index:70;
}
.VOD ul li .video_preview:hover .VOD_POP {
	display:block;
}
.VOD_POP h6 {
	font-weight:bold;
	border-bottom:#e8e8e8 1px solid;
	padding:0 0 8px 0;
}
.VOD_POP .sm_desc {
	border-top:#fff 1px solid;
	border-bottom:#e8e8e8 1px solid;
	padding:8px 0 8px 0;
	line-height:16px;
}
.VOD_POP .POP_MDT {
	border-top:#fff 1px solid;
	padding:8px 0 0 0;
}
.VOD_POP p {
	line-height:20px;
	padding:0;
	clear:both;
}
.VOD_POP p strong {
	font-weight:normal !important;
	display:block;
	float:left;
	width:105px;
}
.VOD_POP p span {
	color:#828282;
	display:block;
	float:left;
	width:120px;
}
.VOD_POP .VOD_actions {
	padding-top:10px;
	text-align:center;
}
.VOD_POP .pop_pointer {
	background:url(../images/pointer.png) no-repeat scroll left top;
	width:15px;
	height:142px;
	position:absolute;
	top:14px;
	left:-16px;
}
.VOD ul li .model_stats {
	position:absolute;
	bottom:80px;
	left:1px;
	height:26px;
	line-height:26px;
	color:#fff;
	text-shadow:#000 1px 1px 1px;
	background:url(../images/statusbg.png) repeat;
	width:132px;
}
.VOD ul li .model_stats .modelname {
	float:left;
	padding-left:4px;
}
.VOD ul li .model_stats .model_status {
	float:right;
	padding-right:4px;
}
.VOD ul li.lastnode {
	margin-right:0;
}
.VOD ul li .play {
	position:absolute;
	top:48px;
	left:43px;
	display:none;
}
.VOD ul li .play a {
	background:url(../images/playvideo.png) no-repeat scroll left top;
	width:48px;
	height:48px;
	display:inline-block;
	text-indent:-99999px;
}
.VOD ul li:hover .play {
	display:block;
}
.VOD ul li:hover .model_stats {
	display:none;
}
#INL_confirm .acdivs {
	padding:15px 0 0 0 !important;
}
#INL_confirm .acdivs li {
	background:url(../images/bulletlist.gif) left 4px no-repeat !important;
}
.mainvideo {
	padding:15px 0 0 0;
	width:560px;
}
.mainvideo .model_video {
	border:#fff 1px solid;
	width:557px;
	box-shadow:0 0 3px #D5D4D4;
	position:relative;
}
.mainvideo .model_video:hover .VOD_POP {
	display:block;
}
.mainvideo .model_video:hover .VOD_POP .pop_pointer {
	height:372px;
}
.mainvideo .model_video:hover .VOD_POP .a_btn {
	min-width:80px;
}
.user_comments_cont {
	padding:5px 0 0 0;
}
.user_comments_cont .MS_title span {
	font-size:12px;
	color:#4f4f4f;
}
.usercomments {
	padding:15px 0 10px 0;
	border-bottom:#dadada 1px solid;
}
.usercomments h6 {
	font-weight:bold;
}
.usercomments h6 a {
	color:#4f4f4f;
	text-decoration:none;
}
.usercomments h6 a:hover {
	text-decoration:underline;
}
.usercomments h6 span {
	font-weight:normal;
	color:#828282;
}
.usercomments p {
	padding:5px 0 5px 0;
}
.checkoutlisting {
	padding:15px 0 0 0;
}
.checkoutlisting table th {
	font-size:14px;
	font-weight:bold;
	padding:5px 0 6px 0;
}
.checkoutlisting .modellisting_chk {
	width:530px;
}
.checkoutlisting .modellisting_chk .left {
	width:133px;
	padding-top:2px;
}
.checkoutlisting .modellisting_chk .left img {
	border:#fff 1px solid;
	box-shadow:0 0 3px #D5D4D4;
}
.checkoutlisting .modellisting_chk .right {
	padding-left:20px;
	width:377px;
}
.checkoutlisting .modellisting_chk h6 {
	font-weight:bold;
}
.checkoutlisting .modellisting_chk p {
	line-height:18px;
	padding:8px 0 0 0;
}
.checkoutlisting table span.values {
	display:block;
	padding:25px 0 0 0;
}
.checkoutlisting .sep {
	background:#e8e8e8;
	height:1px;
	margin:18px 0 18px 0;
}
.total_amount {
	border-bottom:#e8e8e8 1px solid;
	padding-bottom:18px;
	margin-bottom:25px;
	line-height:20px;
}
.total_amount table {
	font-size:14px;
	font-weight:bold;
	float:right;
}
.total_amount table span {
	padding-left:10px;
}
.promo_code {
	float:right;
	width:180px;
	padding-right:20px;
}
.promo_code p {
	line-height:normal;
	padding:0 0 10px 0;
}
.promo_code .input_field {
	width:162px;
}
.prch_credit {
	border-bottom:#e8e8e8 1px solid;
	padding-bottom:23px;
	margin-bottom:25px;
}
.prch_credit .a_btn {
	padding:0 10px 0 10px
}
.prch_credit strong {
	font-size:14px;
	display:inline-block;
	padding-left:12px;
}
.cam_snap {
	padding:3px 0 0 0;
}
.cam_snap p {
	float:left;
}
.cam_snap .a_btn {
	padding:0 15px 0 15px;
	text-align:left;
	min-width:80px;
}
.cam_snap .a_btn span {
	display:block;
	background:url(../images/cam_ico.png) no-repeat scroll right center;
	padding-right:35px;
}
.cam_snap h6 {
	font-size:10px;
	padding:5px 0 0 0;
}
.camsnaps{
	padding:18px 0 0 0;
}
.camsnaps span{
	display:block;
	float:left;
	background: url("../images/cambtn.gif") repeat-x scroll left top transparent;
    border: 1px solid #690808;
    border-radius: 7px;
    box-shadow: 0 1px 1px #CECECE;
    font-size: 12px;
    font-weight: bold;
    min-width: 97px;
	padding:0 12px 0 12px;
	margin-left:7px;
}
.camsnaps span.taken{
	background: url("../images/cambtn_active.gif") repeat-x scroll left top transparent;
    border: 1px solid #007d3d;
}
.camsnaps span:first-child{
	margin-left:0;
}
.camsnaps span a{
	display:block;
	background:url(../images/cam_ico.png) no-repeat scroll right center;
	color:#fff;
	text-decoration:none;
	letter-spacing:-1px;
	line-height:12px;
	text-align:center;
	height: 29px;
	text-shadow: 1px 1px 1px #262626;
	padding:3px 35px 0 0;
}
.camsnaps p{
	font-size:10px;
	font-weight:bold;
	padding:8px 0 0 0;
}

/****************************************************************************** Yeasir Css Starts *******************************************************************/

.top_link_dv a {
	margin-left:3px;
}
.top_linkt {
	display:inline-block;
	padding-left:12px;
	background:url(../images/z_my_ac_iconl.png) no-repeat;
	text-decoration:none;
	color:#ffffff;
	font-size:15px;
	text-shadow: 1px 1px 1px #323232;
	text-align:center;
	font-weight:bold;
}
.top_linkt span {
	padding-right:12px;
	background:url(../images/z_my_ac_iconr.png) no-repeat right;
	display: inline-block;
	height:36px;
	line-height:32px;
	min-width:50px;
}
.top_linkt img {
	margin:-1px 2px 0 0;
}
div.form_ymp_mac p {
	margin:0;
	padding:0;
	line-height:30px;
}
div.form_ymp_mac p strong {
	display:inline-block;
	width:105px;
	padding:0;
	line-height:30px;
}
.ymp_my_acnt h3 {
	font-size:18px;
	padding-bottom:8px;
	border-bottom:1px solid #e9e9e9;
}
.acdivs .edit_form .left, .acdivs .edit_form .right {
	padding:0 0 15px;
	width:465px;
	border:none;
}
div.acdivs .edit_ac_form_ttl h3, .acdivs h3 {
	padding:0 0 8px !important;
	font-size:14px;
	font-weight:bold;
}
.acdivs .edit_ac_form_ttl {
	border-bottom:1px solid #e9e9e9;
	margin-bottom:10px;
}
.acdivs li {
	display:block;
	padding-bottom:10px;
	padding:0 0 10px 15px;
	background:url(../images/y_li_bg.gif) left 4px no-repeat;
	line-height: normal;
}
.acdivs .dif_li_bg li {
	background-image:url(../images/y_li_bgp.gif);
}
.acdv_spcl_pl {
	float:left;
}
.acdv_spcl_pr {
	float:right;
}
.acdivs .input_field {
	width:448px;
}
.acdivs select.input_field {
	width:465px;
}
.a_btn {
	line-height:32px;
	display:inline-block;
	text-align:center;
	text-decoration:none
}
/*11/3*/







.ymp_my_fav_cont .sorting_area {
	padding-bottom:5px;
}
.ymp_my_fav_cont .sorting_area .input_field {
	padding:5px;
	margin:0 0 0 5px;
	width:183px;
}
.ymp_my_fav_cont .thumbview li {
	width:150px;
	margin:10px 10px 0 0;
}
.ymp_my_fav_cont .thumbview li.lastchild {
	margin-right: 0;
}
.ymp_my_fav_cont .thumbview li.small_btns {
	margin-bottom:5px;
}
.ymp_my_fav_cont .thumbview li.small_btns a {
	line-height:22px;
	background:url(../images/z_smal_btn.gif) repeat-x;
	border-radius:5px;
	font-size:13px;
	min-width:130px;
	text-align:center;
	margin-bottom:4px;
	text-decoration:none;
	display:inline-block;
	height:22px;
}
.ymp_my_fav_cont .thumbview li .model_stats {
	width:148px;
}
.model_video_icon {
	position:absolute;
	left:50px;
	top:48px;
}
.modelname img {
	margin-top:-5px;
}
.view_cont_y div.left {
	width:422px;
}
.view_cont_y .view_model_img {
	box-shadow: 0 0 3px 1px #e9e9e9;
	padding: 1px;
	position:relative;
	margin-bottom:18px;
	border-radius:3px;
	width:417px;
}
.view_cont_y .view_model_img .model_video_icon {
	top:100px;
	left:185px;
}
.view_cont_y div.right {
	width:517px;
}
.view_cont_y .right p {
	line-height:16px;
	padding:0 0 6px;
}
.view_cont_y .right strong {
	display:inline-block;
	width:134px;
}
.ymp_table {
	text-shadow: 1px 1px 1px #fff;
}
.view_cont_y .right a, .ymp_table a, .view_spport_dtal p span a {
	text-decoration:underline;
	color:#0090f0;
}
.ymp_table th {
	text-align:center;
	font-weight:bold;
	padding:8px 0;
	border-bottom:1px solid #e8e8e8;
}
.ymp_table td {
	text-align:center;
	padding:10px 0;
	vertical-align:middle;
}
.ymp_table td.tbl_red_clr {
	color: #fc191d;
	font-weight:bold;
}
.appointment_details p {
	line-height:20px;
	padding:0 0 10px;
}
.appointment_details p strong {
	display:block;
	float:left;
	width:132px;
}
.appointment_details p span {
	display:inline-block;
	line-height:20px;
	width:823px;
}
.action_td a {
	margin:0 3px;
}
.msg_cntr_tab .acc_tabs {
	height:auto;
	padding:0;
}
.msg_cntr_tab .acc_tabs ul li {
	border:none;
	border-radius:0;
	line-height:33px;
}
.msg_cntr_tab .acc_tabs ul li a {
	border:#dbdbdb 1px solid;
	border-top-right-radius:7px;
	border-top-left-radius:7px;
	padding:0 15px;
	font-weight:bold;
	color:#828282;
}
.msg_cntr_tabs_cont, .msg_cntr_tabs_cont_inner {
	border:#dbdbdb 1px solid;
	border-bottom-right-radius:7px;
	border-bottom-left-radius:7px;
	background:#fff;
	position:relative;
	z-index:100;
}
.msg_cntr_tab .acc_tabs ul li.active {
	position:relative;
	z-index:500;
	padding-bottom:3px;
	background:url("../images/activetab.gif") repeat-x scroll left top #f7f7f7;
}
.msg_cntr_tab .acc_tabs ul li.active a {
	border-bottom:none;
	padding-bottom:3px;
	color:#828282;
}
.msgtb_rgt {
	line-height:34px;
}
.msgtb_rgt span {
	display:inline-block;
	margin-left:30px;
}
.msgtb_rgt span.dfrnce {
	margin:0 4px;
}
.msgtb_rgt span a, .msg_dtl_btm_part a, .tuca {
	color:#0090f0;
	text-decoration:none;
}
.msgtb_rgt span a:hover, .msgtb_rgt span a.current {
	text-decoration:underline;
}
.msg_cntr_tabs_cont th {
	background:#f7f7f7;
	padding:0;
	height:50px;
	line-height:50px;
}
.img_with_brdr_sdw {
	box-shadow: 0 0 3px 1px #e9e9e9;
	padding: 1px;
}
.ngtv_mar {
	margin-top:-3px;
}
/*11/3*/















/*12/3*/







.msg_cntr_tabs_cont_inner {
	padding:20px;
}
.msg_cntr_tabs_cont_inner textarea.input_field {
	width:913px;
	line-height:20px;
	padding:5px 8px;
}
.msg_cntr_tabs_cont_inner .edit_form p span {
	line-height:20px;
	color:#828282;
	display:inline-block;
	padding-bottom:3px;
}
.msg_dtl_btm_part {
	margin:5px 0 0;
	padding:10px 0 0;
	border-top:1px solid #eaeaea;
}
.msg_dtl_btm_part a {
	text-decoration:underline;
	margin:0 4px;
}
.msg_icon {
	width:22px;
	float:left;
}
.msg_d_txt {
	float:left;
}
.edit_form .msg_dtl_btm_part p {
	line-height:1;
	margin:0;
	padding-bottom:5px;
}
.msg_cntr_tab_not_main .acc_tabs ul li.active {
	background:#fff;
}
.msg_cntr_tabs_cont_inner .edit_form_dif_color p, .msg_cntr_tabs_cont_inner .edit_form_dif_color p span {
	color:#4f4f4f;
}
.ymp_table th a {
	margin-left:3px;
}
.view_spport_dtal p {
	line-height:20px;
	padding:0 0 10px;
}
.view_spport_dtal p strong {
	display:inline-block;
	width:130px;
	display:block;
	float:left;
	line-height:20px;
}
.view_spport_dtal p span {
	display:inline-block;
	width:822px;
}
.upgrade_conts h5 {
	font-size:18px;
	border-bottom:1px solid #e9e9e9;
	padding-bottom:8px;
}
div.upgrade_conts .jsut_label p.left, div.upgrade_conts .jsut_label p.right {
	margin:0;
	padding:12px 0;
}
div.upgrade_conts label {
	font-weight:bold;
}
div.upgrade_conts label input[type="checkbox"] {
	margin:-1px 4px 0 0;
}
div.upgrade_conts .edit_form p .lrg_strong {
	padding:0px 0 20px;
	font-size:14px;
	margin:-5px 0 0;
}
.sbs_table td {
	padding:15px 0;
	border-bottom:1px solid #e9e9e9;
	vertical-align:top;
}
.sbs_table td:last-child {
	vertical-align:middle;
}
.sbs_table td p {
	padding:10px 0 0;
	line-height:18px;
}
.sbs_table td.lrg_td {
	font-size:14px;
	font-weight:bold;
	padding-bottom:10px;
}
.tran_history_top {
	padding-bottom:10px;
}
.tran_history_top div.left {
	margin-left:10px;
	position:relative;
}
.tran_history_top .input_field {
	width:110px;
}
.date_icon_s {
	position:absolute;
	top:9px;
	right:6px;
	display:inline-block;
}
.srch_bx {
	height:36px;
	overflow:hidden;
	float:left;
	margin-right:10px;
}
.srch_bx span {
	background:url(../images/t_top_srch_lft.png) no-repeat;
	width:94px;
	height:36px;
	line-height:34px;
	padding-left:9px;
}
.srch_bx span a {
	margin-left:8px;
}
.srch_bx input.input_field {
	width:345px;
	border-radius:0;
	border:none;
	padding:10px 10px 12px;
	padding:12px 10px 12px\9;
	box-shadow:none;
	background:url(../images/t_srch_inpt_bg.png) repeat-x;
}
.srch_sbmt {
	background:url(../images/t_srch_btn.png) no-repeat;
	width:31px;
	height:36px;
	cursor:pointer;
	border:none;
}
/*13/3*/















div.view_ctmer_dtl p strong {
	width:150px;
}
div.view_ctmer_dtl p span {
	width:auto;
}
.view_ctmer_dtl .top_linkt {
	margin-right:2px;
}
.com_cus_msg p span {
	line-height:20px;
}
/*14/3*/







.transition_video p {
	line-height:20px;
	padding:10px 0 5px;
}
.ymp_table select.input_field {
	width:137px;
	padding:5px;
	color:#4f4f4f;
}
.tuca {
	text-decoration:underline;
}
.diff_dv {
	height:103px;
	height:100px\9;
	border-bottom:1px solid #e9e9e9;
	margin-bottom:10px;
}
.tran_history_top select.input_field {
	width:137px;
	margin-left:3px;
}
.bld {
	font-weight:bold;
}
td span.bld {
	margin-left:20px;
}
.trsnsction_dtail strong {
	display:inline-block;
	width:120px;
	color:#4f4f4f;
}
.trsnsction_dtail p {
	padding:0;
	line-height:36px;
	color:#828282;
}
.for_form strong {
	line-height:32px;
}
.for_form {
	padding:32px 0 36px;
}
.for_usr_pass .input_field {
	width:600px;
	padding:12px;
}
div.for_usr_pass strong {
	padding:8px 0 5px;
	display:inline-block;
}
.recovery p {
	padding:10px 0 0;
	color:##828282;
	line-height: 20px;
}
.recovery p strong {
	display:inline-block;
	width:70px;
	color:#4f4f4f;
}
.chat_appoinment {
	padding-top:15px;
}
.chat_appoinment .input_field {
	width:245px;
}
.chat_appoinment select.input_field {
	width:80px;
	margin-right:8px;
}
.has_date_icon {
	position:relative;
	display:inline-block;
}
.has_date_icon .date_icon_s {
}
.chat_appoinment p strong.has_more_pad {
	padding-bottom:7px;
}
.chat_appoinment input[type="radio"] {
	margin:-2px 3px 0 20px;
}
.view_mdl_dtal .top_linkt span {
	min-width:65px;
}
div.view_mdl_dtal .right p {
	padding-bottom:10px;
}
div.fncl_rep_tp_1 div.left {
	margin:0;
}
div.fncl_rep_tp_1 select.input_field {
	margin-left:0;
}
.fncl_rep_tp_1 {
	line-height:32px;
}
.fncl_rep_tp_1 strong {
	margin:0 2px;
}
div.ymp_vod ul li .VDT p strong {
	width:auto;
	font-weight:bold !important;
}
div.ymp_vod ul li .VDT p strong span {
	width:72px;
	display:inline-block;
	padding:3px 0;
}
div.ymp_vod ul li .ymodel_stats span {
	padding:0 3px;
}
div.ymp_vod ul li .ymodel_stats {
	display:block;
	background: url("../images/statusbg.png") repeat scroll 0 0 transparent;
	bottom:63px;
	color: #FFFFFF;
	height: 26px;
	left: 1px;
	line-height: 26px;
	position: absolute;
	text-shadow: 1px 1px 1px #000000;
	width: 132px;
}
div.ymp_vod ul li {
	margin:12px 10px 0 0;
}
div.ymp_vod ul li .play {
	display:block;
}
.TRM_cont .model_video_icon {
	left:38px;
	top:38px;
}
#HM_left .view_cont_y {
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 0 3px 1px #E9E9E9;
	padding: 1px;
}
#HM_left .view_cont_y .view_model_img {
	width:407px;
	box-shadow:none;
	padding:0;
	border:none;
	border-right:1px solid #d8d8d8;
	border-radius:0;
	margin:0;
}
.view_cont_y .view_model_img .model_video_icon {
	left: 180px;
	top: 136px;
}
.fre_prevew {
	font-size:24px;
	color:#fff;
	text-shadow: 1px 1px 1px #32241d;
	position:absolute;
	top:202px;
	left:135px;
}
#HM_left .view_cont_y div.right {
	width: 285px;
	padding-top:15px;
}
#HM_left .view_cont_y .right strong {
	font-weight:normal;
	color:#4f4f4f;
}
#HM_left .view_cont_y .spcl_ul_cont strong.bld {
	font-weight:bold;
	width:auto;
}
.spcl_ul_cont .thumbview li {
	margin-top:0;
	width:79px;
}
.spcl_ul_cont .thumbview li .model_stats {
	width:78px;
	font-size:11px;
}
#HM_left .view_cont_y .right p {
	color:#828282;
}
.contetn_btms p {
	padding:10px 0;
	line-height:22px;
}
.contetn_btms h3 {
	font-weight:bold;
	font-size:15px;
}
.contetn_btms p.smal_p {
	font-size:10px;
	line-height:14px;
	color:#8b8b8b;
}
.MS_title span a {
	color:inherit;
	text-decoration:none;
}
/****************************************************************************** Yeasir Css Ends *******************************************************************/





/****************************************************************************** Mateen Css Starts *******************************************************************/

.tutorial-tabel th {
	color: #4f4f4f;
	font-size: 12px;
	font-weight: bold;
	border-bottom: 1px solid #e8e8e8;
	padding: 0 0 8px 0;
}
.tutorial-tabel td {
	text-align: center;
	padding: 7px 0;
}
.tutorial-video {
	padding: 1px;
	background: #fff;
	margin: 0 auto;
	box-shadow: 0 0 5px #ccc;
	width: 417px;
	margin-bottom: 10px;
}
.view-tutorial h2 {
	color: #4f4f4f;
	font-size: 14px;
	font-weight: bold;
	padding: 0 0 10px 0;
}
.view-tutorial p {
	padding: 0 0 17px 0;
}
.community-tabel td {
	padding: 14px 0;
	vertical-align: top;
	border-bottom: 1px solid #e8e8e8;
}
.community-tabel p {
	font-size: 12px;
	line-height: 20px;
}
.tabel-title {
	font-size: 14px !important;
	border: 0 !important;
	font-weight: bold;
	color: #4f4f4f;
}
.view-appointment-detail p {
	width: 100%;
	overflow: hidden;
	padding: 0 0 15px 0;
	font-size: 12px;
	color: #4f4f4f;
}
.view-appointment-detail p a {
	color: #0090f0;
	text-decoration: underline;
}
.view-appointment-detail p a:hover {
	text-decoration: none;
}
.view-label {
	width: 130px;
	float: left;
	font-weight: bold;
}
.view-text {
	width: 824px;
	float: right;
}
.image-td img {
	padding: 1px;
	background: #fff;
	border: 1px solid #ececec;
}
.keywords {
	width: 100%;
	overflow: hidden;
	padding: 0 0 25px 0;
}
.keywords .input_field {
	width: 212px !important;
	margin-right: 10px;
	margin-bottom: 5px;
}
.date-inputs {
	width: 174px !important;
	float: left;
	display: block;
	padding: 0 !important;
	border: 0 !important;
	position: relative;
}
.date-inputs strong {
	float: left;
}
.date-inputs .input_field {
	width: 170px !important;
}
.time-inputs {
	width: 250px !important;
	padding-left: 10px !important;
}
.time-inputs .input_field {
	width: 75px !important;
	margin-right: 5px !important;
}
.file-size {
	text-align: right;
	font-size: 11px;
	position: absolute;
	top: 0;
	z-index: 200;
	right: 0;
}
.date-icon {
	position: absolute;
	top: 28px;
	z-index: 200;
	right: 0;
}
.view-video-left {
	float: left;
	width: 340px;
}
.view-video-right {
	width: 615px;
	float: right;
}
.view-video-right .view-text {
	width: 525px !important;
}
.view-video-right .view-label {
	width: 85px !important;
}
.view-video-player {
	background: none repeat scroll 0 0 #FFFFFF;
	box-shadow: 0 0 5px #CCCCCC;
	padding: 1px;
	float: left;
	margin-bottom: 20px;
}
.tabel-links a {
	color: #0090f0;
}
.tabel-links a:hover {
	text-decoration: none;
}
.view-detail .view-label {
	width: 150px !important;
}
.view-detail .view-text {
	width: 456px !important;
}
.blue-text {
	color: #0090F0 !important;
}
.underline {
	text-decoration: underline;
}
.pdf-download {
	width: 51px;
	height: 53px;
	position: absolute;
	right: 10px;
	bottom: -10px;
	z-index: 10;
}
.view-support-detail {
	position: relative;
	background: url(../images/support-detail-bg.gif) repeat-x bottom;
	padding: 0 0 15px 0;
	margin: 0 0 8px 0;
}
.view-support-detail .top_link_dv {
	position: absolute;
	right: 0;
	top: -22px;
}
.view-appointment-detail h3 {
	border-bottom: 0 !important;
	font-size: 14px;
	color: #4f4f4f;
	font-weight: bold;
	padding: 0 0 20px 0;
}
.view-appointment-detail h4, .view-appointment-detail .message-date {
	border-bottom: 0 !important;
	font-size: 12px;
	color: #4f4f4f;
	font-weight: bold;
}
.message-board {
	width: 100%;
	overflow: hidden;
	border-bottom: 1px solid #e8e8e8;
	padding: 0 0 10px 0;
	margin: 0 0 15px 0;
}
.message-board-left {
	width: 195px;
	float: left;
	padding: 5px 0 0 0;
}
.message-board-right {
	width: 755px;
	float: right;
}
.message-board-right p {
	padding: 0 0 10px 0;
}
.radio-button {
	margin: 0 8px 0 0;
}
.chat-options label {
	padding: 0 10px 0 0;
	font-size: 12px;
	color: #858585;
}
.unique-id {
	width: 180px;
	display: inline-block;
	position: relative;
	top: 12px;
	padding: 0 0 0 8px;
}
.tip-jar {
	background: url(../images/tip-jar.gif) no-repeat left;
	padding: 12px 0 10px 34px;
}
.chat-options {
	width: 100%;
	overflow: hidden;
	padding: 0 0 10px 0;
}
.chat-window {
	border: 1px solid #dbdbdb;
	width: 956px;
	overflow: hidden;
}
.live-screen {
	float: left;
	position: relative;
	width: 447px;
	border-right: 1px solid #dbdbdb;
}
.rec-button {
	position: absolute;
	left: 40px;
	top: 10px;
}
.live-cam {
	position: absolute;
	left: 8px;
	top: 8px;
}
.live-vol {
	position: absolute;
	left: 8px;
	bottom: 10px;
}
.chat-screen {
	width: 506px;
	float: left;
}
.topic-area {
	width: 476px;
	padding: 0 15px 0px;
}
.topic-area p {
	padding:  5px 0;
}
.topic-top {
	width: 476px;
	overflow: hidden;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 0 8px 0;
}
.topic-area a {
	color: #4b4b4b;
}
.topic-area a:hover {
	text-decoration: none;
}
.editor-screen {
	background: url(../images/chat-editor.gif) repeat-x bottom;
	padding: 0 15px 3px;
	margin: 0 0 5px 0;
}
.editor-screen ul {
	list-style: none;
	padding: 0;
}
.editor-screen ul li {
	padding: 0 0 3px 0;
}
.chat-tip {
	font-style: italic;
}
.chat-tip a {
	color: #0090f0;
	text-decoration: underline;
	margin: 0 0 0 15px;
}
.chat-tip a:hover {
	text-decoration: none;
}
.editor-screen-inner {
	background: url(../images/editor-control.gif) no-repeat bottom left;
	padding: 0 0 20px 0;
}
.editor-screen ul li.chat-user1 span {
	font-weight: bold;
	color: #00c80a;
}
.editor-screen ul li.chat-user2 span {
	font-weight: bold;
	color: #ff99d6;
}
.chat-instructions {
	padding: 10px 15px 10px 15px;
	line-height: normal;
}
.chat-instructions {
	color: #ababab !important;
}
.messages-button {
	margin: 15px 0 10px 0;
}
.bottom-editor {
	padding: 0 15px;
}
.type-message {
	display: block;
	width: 380px;
	float: left;
}
.type-message input {
	border: 0;
	padding: 8px 4px;
	width: 330px !important;
	background: none;
}
.private-chat h2 {
	font-size: 15px;
	color: #4f4f4f;
	font-weight: bold;
}
.send-button {
	display: block;
	float: right;
}
.model-form p {
	padding: 0 0 8px 0 !important;
}
.model-form label {
	float: left;
	font-size: 12px;
	color: #4f4f4f;
	font-weight: bold;
	width: 110px;
}
.account-model {
	width: 450px;
	padding: 25px 0 30px 0;
}
.account-model p {
	padding: 0 0 3px 0 !important;
}
.account-model p span {
	margin: 0 0 5px 0;
	display: block;
}
.account-model p span a.right-link {
	float: right;
	margin: 3px 0 0 0;
}
.top_linkt:hover {
	opacity: 0.9;
}
.red-text {
	color: #fc191d;
}
.underline {
	text-decoration: underline;
}
.reportabs a {
	padding-right: 10px !important;
	padding-left: 10px !important;
}
.report-input {
	position: relative;
}
.input-icon {
	width: 16px;
	height: 13px;
	position: absolute;
	top: 3px;
	right: 10px;
}
.sales-amount {
	text-align: right !important;
	font-weight: bold;
	font-size: 12px;
}
.border-top {
	border-top: 1px solid #e8e8e8;
}
.sales-amount p span {
	display: inline-block;
	width: 85px;
}
/**/

.chat-area-outer {
	border-top: 1px solid #e8e8e8;
}
.editor-screen-inner p.chat-instructions {
	padding: 6px 0 !important;
}
.chat-area-outer .chat-area {
	width: 400px;
	float: left;
	background: none !important;
	border-right: 1px solid #e8e8e8;
	padding: 0 0 15px 0;
}
.chat-area-right {
	width: 104px;
	float: right;
	padding: 8px 0 0 0;
	position: relative;
}
.chat-area-right ul {
	min-height: 250px;
	height: auto !important;
	height: 250px;
	border-bottom: 1px solid #e8e8e8;
	padding: 0 0 0 10px;
}
.chat-area-right .send-button {
	position: absolute;
	bottom: -45px;
	right: 8px;
}
.chat-user3 span {
	color: #7698fa;
	font-weight: bold;
}
.chat-area-right ul li a {
	text-decoration: none;
	display: block;
	padding: 3px 5px;
}
.chat-area-right ul li a:hover {
	text-decoration: underline;
}
.user-name1 {
	color: #00C80A;
}
.user-name2 {
	color: #FF99D6;
}
.user-name3 {
	color: #7698FA;
}
.user-name4 {
	color: #828282;
}
.user-active {
	color: #292929;
	background: #ff2aa9;
}
.wishlist {
}
.wishlist p {
}
.wishlist p a {
	margin: 0 10px 0;
}
.wishlist p label {
	display: inline-block;
	padding: 0 0 0 10px;
	width: 120px;
	font-weight: bold;
}
.top-chat-devider {
	border-bottom: 1px solid #e8e8e8;
	margin: 0 0 25px 0;
}
.addlink {
	background: url(../images/plus-icon.gif) no-repeat left;
	display: inline-block;
	padding: 0 0 0 25px;
}
.phone-chat-tabel {
	padding: 50px 0 0 0;
}
.phone-chat-tabel table {
	background: #f7f7f7;
}
.phone-chat-tabel table th {
	background: url(../images/chat-tabel-bg.gif) repeat-x;
	text-align: left;
	font-weight: bold;
	color: #828282;
}
.phone-chat-tabel table td {
	padding:  5px 5px 5px 0;
	font-size: 12px;
	color: 3858585;
}
.gray-row {
	background: #e8e8e8;
}
.border-left {
	background: url(../images/tabel-border.gif) repeat-y left;
}
.border-right {
	background: url(../images/tabel-border.gif) repeat-y right;
}
.bottom-row td {
	background: url(../images/tabel-bottom.gif) repeat-x;
	padding-top: 0 !important;
}
/*=========*/
.devider {
	width: 100%;
	overflow: hidden;
	border-bottom: 1px solid #e8e8e8;
	padding: 0 0 8px 0;
	margin: 0 0 18px 0;
}
.devider h2 {
	font-size: 22px;
	color: #4f4f4f;
}
.profile-section {
	width: 100%;
	overflow: hidden;
}
.profile-sidebar {
	width: 278px;
	float:left;
}
.profile-sidebar h3 {
	font-size: 12px;
	font-weight: bold;
	color: #4f4f4f;
	border: 0;
}

.right-manu {
	padding: 20px 0 0 0;
}
.right-manu th {
	font-weight: bold;
	text-align: left;
}
.bottons {
	padding: 20px 0 0 0;
}
.bottons a {
	min-width: 88px;
	width: auto !important;
	width: 88px;
	display: inline-block;
	margin-bottom: 8px;
}
.rats {
	font-family: Arial, Helvetica, sans-serif;
	color: #828282;
	font-size: 12px;
	line-height: 15px;

}
.rats td {
	padding: 8px 10px;
}
.profile-page {
	width: 667px;
	float: right;
}
.profile-page p {
	padding: 0 0 15px 0;
}
.heading-bar {
	background: url(../images/heading-bar-bg.gif) no-repeat;
	width: 647px;
	height: 28px;
	color: #4f4f4f;
	font-size: 12px;
	font-weight: bold;
	line-height: 28px;
	padding: 0 10px;
	overflow: hidden;
	margin: 0 0 12px 0;
	text-shadow: 1px 1px 1px #fff;
}
.heading-bar a {
	font-weight: normal !important;
	color: #0090f0;
}
.heading-bar a:hover {
	text-decoration: none;
}
.sample-photo-thumbs {
}
.sample-photo-thumbs img {
	box-shadow: 0 0 3px #D5D4D4;
	-moz-box-shadow: 0 0 3px #D5D4D4;
	-webkit-box-shadow: 0 0 3px #D5D4D4;
	-khtml-box-shadow: 0 0 3px #D5D4D4;
    padding: 1px;
	background: #fff;
	margin: 0 5px 5px 0;
}
.cam-buttons {
	padding: 0 0 8px 0;
}
.cam-buttons a {
	margin: 0 10px 0 0;
}
.sapmle-videos .thumbview li {
	width: 153px !important;
	margin-bottom: 15px;
}
.sapmle-videos .thumbview li .model_stats {
	width: 153px !important;
}
.pink-text {
	color: #ea8111;
}
.dark-text {
	color: #4f4f4f;
}
.gray-border {
	border:#E6E6E6 1px solid
}
.gray-border td {
	border:#E6E6E6 1px solid
}
.devider .right p {
	padding-top: 0;
}
.tabel-input {
	background: url(../images/field_bg.gif) repeat-x scroll left bottom #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 0 1px #F5F5F5;
    color: #828282;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 5px 8px;
}
.text-note {
	display: block;
	padding:0 0 75px 74px;
	font-size: 12px;
	color: #828282;
}
.text-center {
	text-align: center;
}
.rats2 td {
	padding: 3px 10px !important;
}
.free-chat {
	padding: 20px 0 0 0;
}
.mute-vol {
	position: absolute;
	top: 10px;
	left: 90px;
}
/**/
.dashboard-page h2 {
	font-size: 15px;
	color: #525252;
	font-weight: bold;
	line-height: 32px;
}
.appointment-table {
	background: url(../images/appointment-tabel-bg.gif) repeat-x bottom #fff;
	border: 1px solid #dddddd;
	padding: 10px 0;
	margin: 6px 0 0 0;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
}
.appointment-table-inner {
	height: 157px;
	overflow: auto;
}
.appointment-table td {
	padding: 5px 10px;
}
.green-text {
	color: #1aa50c;
}
.user-setting th {
	text-align: left;
	font-weight: bold;
	padding: 6px 35px;
	text-shadow: 1px 1px 1px #fff;
}
.user-setting td {
	border: 1px solid #e6e6e6;
	padding: 7px 35px;
}
.user-setting td label {
	display: inline-block;
	margin: 0 15px 0 0;}
.top-tr {
	background: url(../images/top-tr-bg.gif) repeat-x top left;
	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
}
.user-setting .highlighted {
	background: #f4f4f4;
}
.chatNumbers-table th {
	text-align: left;
	font-weight: bold;
	padding:  0 0 5px 0;
}
.chatNumbers-table td {
	padding: 4px 0;
}
.donation-table {
	width: 575px;
	margin: 0 auto;
}
.donation-table tr {
	border-bottom: 1px solid #fff !important;
	background: #f7f7f7;
}
.donation-table td td {
	padding: 5px 0 5px !important;
	border-bottom: 1px solid #fff !important;
	border-left:0 !important;
	border-right:0 !important;
}
.donation-table tr.highlighted {
	background: #e8e8e8 !important;
}
.user-setting-control a span {
	padding-left: 0 !important;
}
.user-setting-control span.spacing {
	display: inline-block;
	padding: 0 5px !important;
}
/**/
.permotional-page p {
	padding-top: 0;
}
.permotional-page h2 {
	font-size: 18px;
	color: #ea8111;
	padding: 0 0 15px 0;
}
.permotional-page label {
	display: block;
	font-weight: bold;
}
.permotional-page .date-icon {
	top: 10px;
	right: 10px;
}
.coupon-table {
	width: 525px;
}
.tools-content {
	border: 1px solid #e6e6e6;
	background: #fafafa;
	border-top-left-radius: 6px;
	-moz-border-top-left-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	-khtml-border-top-left-radius: 6px;
	
	border-top-right-radius: 6px;
	-moz-border-top-right-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-khtml-border-top-right-radius: 6px;
	margin-bottom: 15px;
}
.tools-content h4 {
	background: url(../images/tools-title-bg.gif) repeat-x;
	font-size: 14px;
	font-weight: bold;
	color: #4f4f4f;
	line-height: 27px;
	
	border-top-left-radius: 6px;
	-moz-border-top-left-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	-khtml-border-top-left-radius: 6px;
	
	border-top-right-radius: 6px;
	-moz-border-top-right-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-khtml-border-top-right-radius: 6px;
	margin: 0 0 12px 0;
	padding: 0 0 0 12px;
}
.widgets-container {
	padding: 0 10px 15px;
}
.widget-inner {
	width: 220px;
	float: left;
	padding: 0 18px 0 0;
}
.widget-rounded {
	width: 216px;
	height: 144px;
	border: 1px solid #dbdbdb;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	background: #fff;
	padding: 1px;
	box-shadow: 0 0 2px #ccc;
}
.double-post {
	background: #f0f0f0;
	border: 1px solid #e6e6e6;
	padding: 7px 1px;
}
.double-post-inner {
	width: 103px;
	float: left;
	padding: 0 1px;
}
.double-post-image {
	width: 38px;
	float: left;
	background: #fff;
	border: 1px solid #e6e6e6;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
}
.double-post-text {
	width: 60px;
	float:right;
}
.widget-rounded h6, .widget-rounded h6 a {
	font-size: 11px;
	font-weight: bold;
	color: #0090f0;
	text-decoration: underline;
}
.double-post-text p, .double-post-text p a {
	font-size: 9px;
	color: #4f4f4f;
	text-decoration: none;
	padding: 0;
	line-height: normal;
}
.widget-thumbs-container {
	padding: 0 0 0 17px;
}
.widget-thumbnail {
	width: 86px;
	height: 56px;
	float: left;
	background: #fff;
	border-radius: 1px solid #e6e6e6;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	margin: 0 5px 5px 0;
	padding: 2px 0 0 0;
}
img.aligncenter {
	display: block;
	padding: 0px;
	margin:0 auto 2px auto;
}
.skyscraper {
	width: 74px;
	height: 42px;
	background: #fff;
	border: 1px solid #e6e6e6;
	margin: 0 auto;
	padding-top: 2px;
	padding-bottom: 2px
	margin-bottom: 1px
}
.square {
	width: 196px;
	height: 112px;
	background: #fff;
	border: 1px solid #e6e6e6;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	margin: 3px auto 3px auto;
	padding: 8px 0 0 0;
}
.color-widget {
	width: 153px;
	float: left;
}
.color-pallate {
	display: block;
}
.color-pallate {
	width: 133px;
	height: 71px;
	border: 1px solid #dbdbdb;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
}
.widgets-container .left p {
	line-height: 15px !important;
}
/*29/3*/
.top-title {
	width: 100%;
	overflow: hidden;
	border-bottom: 1px solid #e8e8e8;
	padding: 0 0 8px 0;
	margin: 0 0 18px 0;
}
.top-title h1 {
	font-size: 22px !important;
}
.chat-area-modal {
	width: 115px;
	float: right;
	padding: 8px 0 0 0;
	position: relative;
}
.chat-area-modal ul {
	height: 249px;
	border-bottom: 1px solid #e8e8e8;
	padding: 0 0 0 10px;
	overflow: auto;
}
.chat-area-modal .send-button {
	position: absolute;
	bottom: -45px;
	right: 8px;
}
.chat-area-modal ul li a {
	text-decoration: none;
	display: block;
	padding: 3px 5px;
}
.chat-area-modal ul li a:hover {
	text-decoration: underline;
}
.popup-button {
	background: url(../images/popup-button-mid.gif) repeat-x;
	height: 28px;
	margin: 10px 0 0 0;
}
.popup-button h6 {
	background: url(../images/popup-button-left.gif) no-repeat left;
	font-size: 12px;
	font-weight: bold;
	color: #4f4f4f;
	line-height: 28px;
}
.popup-button h6 a {
	display: block;
	color: #4f4f4f;
	text-decoration: none;
	background: url(../images/popup-button-right.gif) no-repeat right;
	padding: 0 10px;
	text-align: center;
}
.popup-button:hover {
	opacity: 0.9;
}
.modal-detail-chat {
	  border-radius: 4px;
	  -moz-border-radius: 4px;
	  -webkit-border-radius: 4px;
	  -khtml-border-radius: 4px;
	  margin: 0 0 12px 0;
}
.user-name5 {
	color: #292929;
}
.MS_title span a {
	color: #ea8111;
}
.MS_title span a:hover {
	text-decoration: underline;
}
.widget-rounded:hover {
	cursor: pointer;
}
/****************************************************************************** Mateen Css Ends  *******************************************************************/
