/* courtesy www.odesk.com */

html {
font-family: sans-serif;
}

body {
font-family: sans-serif;
font-size: 13px;
line-height: 1.4;
color: #252523;
}

table {
	border-collapse: separate;
	border-spacing: 2px;
	border-color: gray;
}

td, th {
display: table-cell;
vertical-align: inherit;
}

.oTable, .oReportTable {
border-collapse: separate;
border-spacing: 0;
}

tr.oPending td {
background-color: #f7f7f6;
}


.oPending {
font-style: italic;
}


.oMute, .oPending, .oFormHelp {
color: #7c7c7a;
}
.oTable, .oReportTable {
border-collapse: separate;
border-spacing: 0;
}


.oTable tbody tr:first-child td:first-child, .oReportTable tbody tr:first-child td:first-child {
-moz-border-radius-topleft: 7px;
-webkit-border-top-left-radius: 7px;
border-top-left-radius: 7px;
}

.oTable tbody tr:first-child td, .oReportTable tbody tr:first-child td {
border-top-width: 3px;
}

oTable td, .oReportTable td {
border: 1px solid #ededeb;
border-top-width: 0;
border-left-width: 0;
border-right-width: 0;
padding: 8px 11px 7px;

}

.oTable th, .oReportTable th {
color: #252523;
padding: 6px 15px 6px 11px;
font-size: 12px;
font-weight: 700;
}
.oTable td:first-child, .oReportTable td:first-child {
border-left-width: 3px;
}

.oTable td:last-child, .oReportTable td:last-child {
border-right-width: 3px;
}

.oTable tbody tr:last-child {
-moz-border-radius-topright: 7px;
-webkit-border-top-right-radius: 7px;
border-top-right-radius: 7px;
}

.oTable td, .oReportTable td {
	border: 1px solid #ededeb;
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0;
	padding: 8px 11px 7px;
}

.nowrap {
white-space: nowrap;
}

.txtRight, table .txtRight td, table .txtRight th, .data .txtRight th, .data .txtRight td, table thead th.txtRight, table tbody td.txtRight {
text-align: right!important;
}

#home_cont{
	padding-top:20px;
}
#home_cont table{
	margin:0 auto;
		
}