* {
	padding: 0;
	margin: 0;
}
strong {
	font-weight: bold;
}
.close-button {
	font-size: 12px;
	font-weight: bold;
	color: #828282;
	text-decoration: none;
	float: right;
	margin: 22px 0 0 0;
}
.close-button:hover {
	text-decoration: underline;
}
.popup-wrapper {
/*	background: url(../images/popup-bg.png) repeat; */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4f4f4f;
}
.popup {
	width: 463px;
	margin: 0 auto;
/*	padding-top: 150px; */
}
.popup-logo {
	float: left;
}
.popup h2, .model_large_ppup h2 {
	font-size: 24px;
	color: #4f4f4f;
	padding: 0 0 8px 0;
}
#popup-header {
	width: 415px;
	height: 50px;
	padding: 5px 18px 0 20px;
	background: url(../images/logo.png) no-repeat;
}
.popup-content, .pp_cont {
	background: #fff;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 10px 20px 10px;
}
.center-text {
	text-align: center;
}
.popup-content p {
	line-height: 22px;
	padding: 0 0 12px 0;
}
.submit-buttons {
	width: 100%;
	overflow: hidden;
	text-align: center;
	padding: 0 0 5px 0;
}
.submit-buttons a {
	min-width: 81px;
	width: auto !important;
	width: 81px;
	height: 34px;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	display: inline-block;
	line-height: 33px;
	text-decoration: none;
	padding: 0 8px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	box-shadow: 0px 2px 0px #ccc;
	margin: 0 3px 0 0;
}
.submit-buttons a:hover {
	opacity: 0.9;
}
.pink-button {
	background: url(../images/pink-button.gif) repeat-x top;
}
.grey-button {
	background: url(../images/grey-button.gif) repeat-x top;
}

/*ymp 11/3*/

.ymp_pp_cont p {
	padding-top:0;
}
.sign_in_form strong {
}
.ymp_pp_cont .sign_in_form p {
	line-height: normal;
    margin-bottom: 8px;
    padding: 0;
}
.ymp_pp_cont .input_field {
	width:426px;
}
.right_inpt input.btn {
	min-width:72px;
}
.left_inpt a {
	color: #0090f0;
	text-decoration:underline;
	margin:0 3px;
}
.left_inpt {
	float:left;
	line-height:32px;
}
.right_inpt {
	float:right;
}
.sign_in_pp {
	width:484px;
	margin-top:130px;
}
.sign_in_pp #popup-header {
	width:auto;
	background:url(../images/pp_header.png) no-repeat;
	height:64px;
}

.sign_in_pp .popup-content {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
/*ymp 11/3*/

/*ymp 14/3*/

.ppy_edit_form {
	padding-top:5px;
}
div.ppy_edit_form p {
	line-height:normal;
	padding:0;
}
.ppy_edit_form p .input_field {
	width:405px;
}
.ppy_edit_form label {
	display:inline-block;
	width:140px;
	font-weight:bold;
}
.ppy_edit_form label [type="radio"] {
	margin:-2px 3px 0 0;
}

/****************************************************************************** Mateen Css Starts *******************************************************************/

/*3/11/13*/
.popup-form p {
	line-height: normal;
	padding: 0 0 7px 0;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}
.popup-form label {
	font-weight: bold;
	display: block;
	color: #4f4f4f;
	
}
.popup-form textarea.input_field {
	background: url(../images/popup-textarea-bg.gif) repeat-x bottom;
	width: 402px;
	border: 1px solid #dbdbdb;
	height: 112px;
	padding: 6px 10px;
	border-radius: 5px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	
}
input.grey-button {
	min-width: 81px;
	width: auto !important;
	width: 81px;
	height: 34px;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	text-shadow: 1px 1px 1px #717171;
	display: inline-block;
	line-height: 33px;
	text-decoration: none;
	padding: 0 8px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	box-shadow: 0px 2px 0px #ccc;
	margin: 0 3px 0 0;
	border: 0;
	cursor: pointer;
}
/****************************************************************************** Mateen Css Ends  *******************************************************************/

.popup_b{
	width:729px;
	padding-top: 50px;
}
.popup_b #popup-header {
	width:auto;
	background: url(../images/pp_new_header_bg.gif) repeat-x scroll left top;
	height: 45px;
	border-top-left-radius:10px;
	border-top-right-radius:10px
}
.tourvideo{
	padding:5px 0 15px 0;
}
