@charset "utf-8";

/* CSS Document */

/****************************************** Reset Default Css ******************************************************/



body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{ 

	margin:0;

	padding:0;

}



table{

	border-collapse:collapse;

	border-spacing:0;

}



fieldset,img{ 

	border:0;

}



address,caption,cite,code,dfn,em,th,var{

	font-style:normal;

	font-weight:normal;

}



ol,ul{

	list-style:none;

}



caption{

	text-align:left;

}



h1,h2,h3,h4,h5,h6{

	font-size:100%;

	font-weight:normal;

}



q:before,q:after{

	content:'';

}



abbr,acronym{ 

	border:0;

}



textarea{

	resize:none;
	
	overflow:auto;

}



input, img, select{

	vertical-align:middle;

}



/****************************************** End Reset Default Css ******************************************************/



