@charset "utf-8";/* CSS Document */
body {
	background:#d2d2d2;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#4f4f4f;
	-webkit-font-smoothing: antialiased;
}
.left {
	float:left;
}
.right {
	float:right;
}
.clear {
	clear:both;
}
h1 {
	font-size:24px;
	color:#4f4f4f;
}
p {
	line-height:22px;
	padding:10px 0 10px 0;
}
#wrapper {
	width:100%;
}
.center {
	width:1024px;
	margin:0 auto;
}
#header {
	background:url(../../images/admin/headerbg.gif) repeat-x scroll left top;
	border-bottom:#fff 1px solid;
}
#head_patteren {
	background:url(../../images/admin/head_patteren.png) no-repeat scroll center top;
}
#header .center {
	height:62px;
}
#logo {
	padding:9px 0 0 0;
}
.admin_header_right {
	padding-top:25px;
	color:#828282;
	font-size:1.2em;
	font-weight:bold;
}
.admin_header_right a, .red_color_links {
	color:#2cabe2;
	text-decoration:underline;
}
.admin_header_right a:hover {
	color:#4f4f4f;
}
#nav {
	background:url(../../images/admin/nav_bg.gif) repeat-x scroll left top;
}
#nav .center {
	height:50px;
}
#nav ul li {
	display:block;
	float:left;
	background:url(../../images/admin/nav_sep.gif) no-repeat scroll left center;
	height:50px;
	line-height:50px;
}
#nav ul li a {
	display:block;
	font-size:12px;
	color:#2cabe2;
	text-decoration:none;
	text-shadow:#fff 1px 1px 1px;
	text-align:center;
	padding:0 2px 0 3px;
	padding:0 3px 0 4px\9;
}
#nav ul li:first-child {
	background:none;
}
#nav ul li:first-child a {
	padding-left:0;
}
#nav ul li:last-child a {
	padding-right:0;
}
#nav ul li a:hover, #nav ul li.active a {
	color:#4f4f4f;
}
#page_body {
	background:url(../../images/admin/bodybg.gif) repeat;
}
#page_body .center {
	padding:15px 0 20px 0;
	min-height:460px;
}
#page_body .without_nav {
	min-height:510px;
}

.admin_title {
	padding:0px 0 15px;
}
.ymp_table {
	padding-bottom: 15px;
	border-bottom: 1px solid #e0dfdf;
	border-left: 1px solid #e0dfdf;
	border-right: 1px solid #e0dfdf;
	box-shadow:0 0 1px 1px #fff;
	background:#fff;
	min-height:370px;
}
.ymp_table th {
	background: url(../../images/admin/th_bg.gif) repeat-x;
	color: #FFFFFF;
	line-height: 25px;
	height:26px;
	text-align: center;
	font-weight:bold;
	text-shadow: 1px 1px 1px #464647;
}
.ymp_table td {
	line-height: 16px;
	padding: 10px 0 0;
	text-align: center;
}
.ymp_table td.action {
}
.ymp_table td.action a {
	color:#2cabe2;
	text-decoration:underline;
	margin:0 3px;
}
.ymp_table td.action a:hover {
	color:#4f4f4f;
}
#footer {
	background:url(../../images/admin/footer_bg.gif) repeat-x scroll left top;
	padding:2px 0 0 0;
	height:50px;
	line-height:50px;
	font-size:11px;
	text-shadow:#fff 1px 1px 1px;
	color:#949494;
}
#footer a {
	color:#2cabe2;
	text-decoration:none;
}
#footer a:hover {
	text-decoration:underline;
}
#footer .left span {
	padding:0 7px 0 7px;
	text-shadow:none;
	color:#999999;
}
div.acd_cont p {
	line-height:20px;
}
div.acd_cont label {
	width:105px;
	line-height:20px;
}
div.acd_cont span {
	display: inline-block;
	width:913px;
}
/*yeasir start 5/3*/


.top_link_dv a {
	margin-left:3px;
}
.top_linkt {
	display:inline-block;
	padding-left:12px;
	background:url(../../images/z_my_ac_iconl.png) no-repeat;
	text-decoration:none;
	color:#ffffff;
	font-size:15px;
	text-shadow: 1px 1px 1px #323232;
	text-align:center;
	font-weight:bold;
}
.top_linkt span {
	padding-right:12px;
	background:url(../../images/z_my_ac_iconr.png) no-repeat right;
	display: inline-block;
	height:36px;
	line-height:32px;
	min-width:50px;
}
.top_linkt img {
	margin:-1px 2px 0 0;
}

.input_field {
	background:#fff url(../../images/admin/field_bg.gif) repeat-x scroll left bottom;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#828282;
	border:#dbdbdb 1px solid;
	padding:8px;
	border-radius:7px;
	width:432px;
	margin:0;
	box-shadow:0 1px 2px 0 #edeae8;
}
select.input_field {
	padding:7px 5px 7px 5px;
	width:450px;
}
 @media screen and (-webkit-min-device-pixel-ratio:0) {
 select.input_field {
 height:32px;
 line-height:27px;
}
}
.btn, .top_btn {
	background:url(../../images/admin/btn.gif) repeat-x scroll left top;
	min-width:80px;
	height:32px;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	text-shadow:1px 1px 1px #262626;
	border:#919191 1px solid;
	cursor:pointer;
	border-radius:7px;
	box-shadow:0 1px 1px #CECECE;
}
.advmodel_search .input_field, .sortby .input_field {
	width:150px;
	padding:0 0 0 5px;
	height:23px;
	line-height:23px;
	border-top-right-radius:0;
	border-bottom-right-radius:0;
	border-bottom-left-radius:7px;
	border-top-left-radius:7px;
	border-right:0 none;
	font-size:11px;
	background:#fff;
 border::#e3e3e3 1px solid;
	box-shadow:0 1px 1px 0 #fff;
	margin-right:-4px;
}
.select_box, .select_box2, .select_box3, .select_box4 {
	float:left;
	margin:6px 4px 0 0;
	background:url(../images/dropimg.png) no-repeat scroll left top;
	width:67px;
	height:27px;
	position:relative;
}
.select_box2 {
	background:url(../images/dropimg1.png) no-repeat scroll left top;
	width:87px;
}
.select_box3 {
	background:url(../images/dropimg2.png) no-repeat scroll left top;
	width:77px;
}
.select_box4 {
	background:url(../images/dropimg3.png) no-repeat scroll left top;
	width:127px;
}
.select_box .dropdown, .select_box2 .dropdown, .select_box3 .dropdown, .sorting_area .sortby .dropdown, .select_box4 .dropdown {
	color: #653600;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 1px 0 0;
	opacity: 0;
	padding: 2px;
	width: 70px;
}
.select_box2 .dropdown {
	width:90px;
}
.select_box3 .dropdown {
	width:80px;
}
.select_box4 .dropdown {
	width:130px;
}
.sorting_area .sortby .dropdown {
	width:170px;
}
.select_box p, .select_box2 p, .select_box3 p, .sorting_area .sortby p, .select_box4 p {
	font-size: 11px;
	left: 8px;
	padding: 0;
	position: absolute;
	top: 7px;
	line-height:normal;
	color:#828282;
}
.sorting_area .sortby p {
	top:6px;
}
.advmodel_search {
	float:right;
	margin:6px 0 0 0;
	font-size:11px;
}
.advmodel_search a {
	color:#0090f0;
	text-shadow:#fff 1px 1px 1px;
	margin-left:5px;
}


/********************************************************************* Start FireFox CSS Hack ********************************************************************/

@-moz-document url-prefix() {
 input.btn, .btn {
 padding-bottom:2px;
}
}
/********************************************************************* End FireFox CSS Hack *********************************************************************/


.admin_login, .admin_frgt_pass {
	margin:115px auto 0;
	width:455px;
}
.admin_form p {
	padding: 0 0 10px;
	clear:both;
	line-height:32px;
}
.admin_form label {
	display:block;
	float:left;
	line-height:32px;
	color:#4f4f4f;
	font-size:12px;
	font-weight:bold;
	width:130px;
}
.admin_login label {
	width:72px;
	text-align:right;
	margin-right:10px;
}
.admin_login .input_field {
	width:342px;
}
.login_sbmt a {
	margin:0px 0px 0 84px;
	color:#2cabe2;
	display:inline-block;
	line-height:32px;
	text-decoration:underline;
}
.login_sbmt a:hover {
	text-decoration:underline;
}
.login_sbmt span {
	margin-right:14px;
	margin-right:11px\9;
}
.logout_div {
	padding: 170px 0 0;
	width:110px;
	margin:0 auto;
}
.logout_div a {
	display:inline-block;
	padding-left:16px;
	color:#2cabe2;
	font-size:16px;
	text-decoration:underline;
	background:url(../../images/admin/p5logout_icon.gif) no-repeat left center;
	text-shadow: 1px 1px 1px #fff;
	margin:10px 0 0;
}
.logout_div a:hover {
	color:#4F4F4F;
}
.admin_frgt_pass {
	width:640px;
	margin-top:165px;
}
.admin_frgt_pass label {
	width:96px;
}
.admin_frgt_pass .input_field {
	width:332px;
	margin-right:5px;
}
.ymp_table_single td {
	padding-bottom: 10px;
}
.top_btn {
	display:inline-block;
	line-height:32px;
	width:auto;
	padding:0 12px;
	text-decoration:none;
}
.admin_cont {
	border:1px solid #e0dfde;
	box-shadow:0 0 1px 1px #fff;
	background:#fff;
	padding:20px;
	min-height:340px;
}
.sbmt_dv {
	padding:5px 0 0 260px;
}
.sbmt_dv .btn {
	width:93px;
}
.admn_fltr_by {
	line-height:32px;
}
.admn_fltr_by span {
	font-weight:bold;
}
.admn_fltr_by .input_field {
	width:95px;
	margin-left:8px;
}
.admn_fltr_by .top_btn {
	margin-left:15px;
	line-height:normal;
}
.admin_sub_nav {
	padding-bottom:15px;
}
.admin_sub_nav li {
	background:url(../../images/admin/p5_sbnv_li_bg.gif) left center no-repeat;
	padding:0 8px;
	display:block;
	float:left;
}
.admin_sub_nav li:first-child {
	padding-left:0;
	background:none;
}
.admin_sub_nav li.right_li {
	padding:0;
	background:none;
	float:right;
	font-weight:bold;
}
.admin_sub_nav li a {
	display:block;
	color:#2cabe2;
	text-decoration:underline;
}
.admin_sub_nav li a:hover {
	color:#4F4F4F;
}
.admin_top_model_list {
	padding-bottom:15px;
}
.model_list {
	font-size:18px;
	font-weight:bold;
	color:#4f4f4f;
	line-height:32px;
	width:140px;
}
.ymp_table td .online_a, .ymp_table td .offline_a {
	color:#99e000;
	text-decoration:none;
}
.ymp_table td .offline_a {
	color:#fc191d;
}
.img_wth_brdrsdw {
	padding:1px;
	background:#ffffff;
	box-shadow:0 0 3px 1px #f1f1f1;
	border-radius:3px;
	display:inline-block;
}
.btm_nav {
	padding-top:15px;
}
.min_span {
	color:#909090;
}
.btm_nav li {
	display:block;
	float:left;
	width:20px;
	height:20px;
	margin-left:3px;
	background:#c7c7c7;
	text-shadow: 1px 1px 1px #7a7a7a;
	color:#fff;
	border-radius:3px;
}
.btm_nav li a {
	display:block;
	text-align:center;
	line-height:20px;
	text-decoration:none;
	color:inherit;
}
.btm_nav li.active, .btm_nav li:hover {
	background:#2cabe2;
	text-shadow: 1px 1px 1px #b00169;
}
.btm_nav li.previous_li, .btm_nav li.next_li {
	margin:0 7px 0 0;
	padding:0 0 0 18px;
	background:url(../../images/admin/p5previous_bg.png) left center no-repeat;
	text-shadow: 1px 1px 1px #f0efef;
	width:auto;
	color:#828282;
	border-radius:0;
}
.btm_nav li.next_li {
	padding:0 18px 0 0;
	background:url(../../images/admin/p5next_bg.png) right center no-repeat;
	margin:0 0 0 10px;
}
.avad_cont p {
	padding-bottom:5px;
}
.avad_cont p label {
	width:120px;
}
.admin_mt_top {
	padding:10px 0;
}
.admin_mt_top a {
	margin-right:5px;
}
.admin_mt_cont {
	border-bottom:1px solid #e8e8e8;
	background:#fafafa;
}
.amc_lft {
	width:460px;
	min-height:380px;
}
.mt_img {
	border:1px solid #dbdbdb;
	min-height:324px;
	position:relative;
}
.mt_img a {
	position:absolute;
	display:block;
}
.mt_img .cam2cam {
	right:10px;
	top:10px;
	width:78px;
	height:24px;
	line-height:24px;
	color:#fff;
	background:#646464;
	text-shadow: 1px 1px 1px #000;
	text-decoration:none;
	text-align:center;
}
.mt_img .audio_icon {
	left:10px;
	bottom:10px;
	width:107px;
	height:25px;
}
.amcl_btm, .mtt_btm {
	border-left:1px solid #e8e8e8;
	border-right:1px solid #e8e8e8;
	height:55px;
}
.amc_rgt {
	width:517px;
	min-height:380px;
	border-right:1px solid #e8e8e8;
	border-top:1px solid #e8e8e8;
}
.mt_txt {
	padding-left:15px;
	border-bottom:1px solid #e8e8e8;
	min-height:324px;
	text-shadow: 1px 1px 1px #fff;
}
.mtt_p {
	min-height:219px;
}
.mt_txt h3 {
	padding:10px 0;
	background:url(../../images/admin/p5_h3_bg.gif) bottom repeat-x;
	color:#4f4f4f;
	font-weight:bold;
}
.mt_txt p {
	line-height:16px;
	padding:10px 0 0;
}
.mt_txt p span {
	display:inline-block;
	margin-right:5px;
	font-weight:bold;
}
.mt_txt p.gray_clr {
	color:#909090;
}
.editor {
	min-height:27px;
}
.mtt_btm {
	border:none;
}
.mtt_btm textarea {
	border:none;
	padding:0;
	font:inherit;
	color:#4f4f4f;
	display:block;
	float:left;
	height:55px;
	line-height:55px;
	border-right:1px solid #e8e8e8;
	width:413px;
	padding-left:15px;
}
.mtt_btm .mtbtn {
	margin:12px 11px 0 0;
	min-width:65px;
	height:28px;
	color:#797979;
	text-shadow: 1px 1px 1px #fff;
	background:url(../../images/admin/p5_sent_btn.gif) repeat-x;
	border:1px solid #d1d1d1;
	border-radius:5px;
}
.edit_form_y p {
	line-height: normal;
	margin-bottom: 8px;
	padding: 0;
}
.edit_form_y p strong {
	display: block;
	padding: 0 0 5px;
}
textarea.input_field {
	height:190px;
	padding-top:4px;
	line-height:20px;
}
.inpt_span_edit {
	display:inline-block;
	line-height:20px;
	width:605px;
}
.top_search {
	border:1px solid #e0e0e0;
	border-right:none;
	border-radius:10px;
	box-shadow:0 1px 2px 0 #ece9e7;
	height:32px;
	overflow:hidden;
	width:auto;
	position:relative;
	padding-right:31px;
}
.cat_div {
	width:82px;
	border-right:1px solid #e6e6e6;
	line-height:31px;
	height:32px;
	padding-left:10px;
	background:url(../../images/admin/p5_cate_bg.jpg) repeat-x #dddddd;
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
}
.cat_div a {
	margin-left:10px;
}
.top_search input[type="text"] {
	width:305px;
	padding:9px;
	font: inherit;
	color:#828282;
	border:none;
	background:#fff;
}
.srch_sbmt {
	position:absolute;
	right:0;
	top:-1px;
	border:none;
	cursor:pointer;
	background:url(../../images/admin/p5_srch_icon_bg.png) no-repeat;
	width:31px;
	height:34px;
}
div.acnb_form p label {
	width:115px;
}
.blog_entry_detail {
	width:755px;
}
.blog_entry_detail h3 {
	font-weight:bold;
	font-size:15px;
}
.author {
	padding:5px 0;
	color:#828282;
}
.author span {
	color:#4f4f4f;
}
.bed_img {
	padding:10px 0;
}
.bed_img img {
	margin:2px;
}
.blog_entry_detail p {
	line-height:20px;
	width:753px;
}
/*yeasir end 5/3*/


/*ymp 19/3*/

.admn_vw_offer div.left, .admn_vw_offer div.right {
	width:480px;
}
.admn_vw_offer p span{
	width:auto;
	color:#828282;
}
.admn_vw_offer p span.tarea_span{
	width:885px;
	line-height:18px;
}
.admn_vw_offer div.left label {
	width:100px;
}
.admn_vw_offer div.right label {
	width:140px;
}
.admn_vw_offer .input_field {
	width:452px;
}
.admn_vw_offer select.input_field {
	width:470px;
}
.has_dt_icon {
	position:relative;
	display:inline-block;
}
.dte_icon {
	position:absolute;
	right:10px;
	top:9px;
}
.viw_acmdl_dtal {
	position:relative;
}
.vamd_top {
}
.vamdt_img {
	width:250px;
}
.vamdt_txt {
	width:250px;
}
div.vamdt_txt p label {
	width:120px;
}
div.viw_acmdl_dtal p, div.viw_acmdl_dtal p label {
	line-height:20px;
}
.vamdt_txt p span {
	color:#828282;
}
.vamd_cont {
	padding:16px 0 10px;
	border-bottom:1px solid #dededf;
}
.viw_acmdl_dtal .model_list {
	width:auto;
	margin-right:50px;
}
.vamdc_txt p label {
	width:135px;
}
.viw_acmdl_dtal .admin_top_model_list {
	padding-bottom:10px;
}
.vamd_bottom {
	padding:20px 0 0;
}
.vamdb_tab li {
	display:block;
	float:left;
	margin-right:5px;
	padding-bottom:13px;
}
.vamdb_tab li.active {
	background:url(../../images/admin/view_mdl_shape2_03.png) center bottom no-repeat;
}
.vamdb_tab li a {
	padding:0 10px;
	display:block;
}
.vamdb_tab li.active a {
	color:#5f5f5f;
	font-size:15px;
	font-weight:bold;
	text-shadow: 1px 1px 1px #fff;
	background:url(../../images/admin/view_scm_tb_actv_bg.gif) repeat-x;
	height:32px;
	line-height:32px;
	text-decoration:none;
	border-radius:7px;
	border:1px solid #b8b8b8;
}
.vamdb_cont {
	padding:10px;
	background:#fafafa;
	border:1px solid #e8e8e8;
	margin-top:-1px;
}
.vamdb_cont h4 {
	padding:3px 0 5px;
}
div.vamdb_lft p label {
	font-weight:normal;
	margin-left:15px;
	display:inline-block;
	width:auto;
	float:none;
}
div.vamdb_lft p label input[type="checkbox"] {
	margin:-1px 2px 0 0;
}
.bld {
	font-weight:bold;
}
.vamdbl_txt p.bld {
	padding-bottom:12px;
}
div.vamdbl_txt p {
	line-height:1;
	padding-bottom:13px;
}
.vamdbl_txt p span {
	display:inline-block;
	width:120px;
}
div.has_rcl p {
	padding-bottom:20px;
	line-height:1;
}
.vamdb_rgt {
	text-align:right;
}
.vamd_abs {
	position:absolute;
	right:20px;
	top:65px;
	width:230px;
	padding:10px;
	border:1px solid #fff;
	background:#f7f7f7;
	border-radius:3px;
	box-shadow:1px 1px 5px 1px #a0a0a0;
}
div.vamd_abs p {
	line-height:1;
	padding:0 0 6px;
	font-weight:bold;
}
.abs_direction {
	position:absolute;
	top:15px;
	left:-16px;
}
.vamdc_ttl_earng p.left {
	clear:none;
}
div.vamdc_ttl_earng p label {
	width: auto;
	margin-right:20px;
}
div.vamdbl_txt1 p.bld {
	background:url(../../images/admin/p5_h3_bg.gif) bottom repeat-x;
	margin-bottom:12px;
}
.vamdbl_txt1 {
	padding-top:15px;
}
div.vamdbl_txt1 p span {
	width:270px;
}
.has_rdio {
	float:left;
	line-height:32px;
}
.has_rdio label {
	margin-left:5px;
}
.has_rdio label input[ type="radio"] {
	margin:-1px 2px 0 0;
}
.bnb_sp_txt1 span, .bnb_sp_txt2 span {
	width:245px;
	display:inline-block;
}
.bnb_sp_txt1 span:first-child {
	width:290px;
}

.bnb_sp_txt2 span {
	width:205px;
}
.bnb_sp_txt2 span:first-child {
	width:255px;
}

/*ymp 19/3*/


/**************************************************mateen styles start here************************************/

.add-video p {
	padding: 0;
}
.add-video label {
	display: inline-block;
	margin: 0 10px 0 0;
	font-size: 12px;
	color: #4f4f4f;
}
.add-video .top_btn:hover {
	opacity: 0.9;
}
.add-video-tabel label {
	display: inline-block;
	width: 75px;
}
.tabs_contents {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #DBDBDB;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	box-shadow: 0 0 2px #FFFFFF;
	min-height: 300px;
	padding: 20px;
}
.add-form .left {
}
.edit_form .left, .edit_form .right {
	width: 475px;
}
.edit_form p {
	line-height: normal;
	margin-bottom: 8px;
	padding: 0;
}
.edit_form p strong {
	display: block;
	padding: 0 0 3px;
}
.input-field {
	background: url("../../images/admin/field_bg.gif") repeat-x scroll left bottom #FFFFFF;
	border: 1px solid #DBDBDB;
	border-radius: 7px 7px 7px 7px;
	box-shadow: 0 1px #F5F5F5;
	color: #828282;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 8px;
	width: 454px;
}
select.input-field {
	padding: 7px 5px;
	width: 472px;
}
.video-left {
	float: left;
}
.video-player {
	border: 1px solid #f2f2f2;
	box-shadow: 0px 0px 6px #ccc;
	background: #fff;
	padding: 1px;
}
.video-right {
	width: 572px;
	float: right;
}
.video-right p {
	width: 100%;
	overflow: hidden;
	padding: 0 0 5px 0;
}
.view-label {
	font-weight: bold;
	display: block;
	float: left;
	width: 100px;
}
.view-text {
	display: block;
	float: right;
	width: 470px;
}
.view-edit-links {
	padding: 5px 0 10px 0;
}
.view-edit-links a {
	display: inline-block;
	text-decoration: none;
	text-align: center;
	padding-bottom: 0 !important;
	line-height: 33px;
	margin: 0 5px 0 0;
}
.video-right {
	width: 524px !important;
}
.view-text {
	width: 422px !important;
}
.video-right p {
	line-height: 20px;
}
.add-payment label {
	display: block;
	float: none;
	line-height: 25px;
}
.add-payment p {
	padding: 0 0 3px 0;
}
.view-payment {
	width: 575px;
	overflow: hidden;
}

.model-info {
	width: 164px;
	float: left;
	padding: 6px 0 10px 6px;
}
.content-store {
	width: 100%;
	overflow: hidden;
}
.model-info h5 {
	font-size: 12px;
	font-weight: bold;
	color: #4f4f4f;
	padding: 0 0 5px 0;
}
.model-image {
	padding: 1px;
	background: #fff;
	border: 1px solid #f1f1f1;
	box-shadow: 0px 0px 5px #f8f8f8;
	float: left;
	margin: 0 0 8px 0; 
}
.model-info p {
	padding: 0 0 6px 0;
	line-height: normal;
	font-size: 12px;
	color: #4f4f4f;
}
.model-buttons {}
.model-buttons a {
	background: url(../../images/admin/model-info-button.gif) repeat-x;
	display: inline-block;
	padding: 0 6px;
	line-height: 22px;
	font-size: 11px;
	text-decoration: none;
	color: #fff;
	height: 24px;
	font-weight: bold;
	margin: 0 5px 0 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	box-shadow: 0px 2px 5px #ccc;
	text-shadow: 1px 1px 1px #2d2d2d;
}
.model-buttons a:hover {
	opacity: 0.9;
}
.view-detail-page {
	width: 100%;
	overflow: hidden;
	padding: 14px 0 0 0;
}
.section-left {
	width: 265px;
	float: left;
	padding: 0 0 0 19px;
}
.view-detail-page h2 {
	font-size: 14px;
	color: #000000;
	font-weight: bold;
	padding: 0 0 5px 0;
}
.section-left-inner {
	width: 265px;
	height: 595px;
	overflow: auto;
	border: 1px solid #e3e3e3;
}
.section-left-inner ul {
	list-style: none;
	padding: 15px 5px 15px 10px;
	margin: 0;
}
.section-left-inner ul li {
	padding: 0 0 5px 0;
}
.section-left-inner ul li h6 {
	font-size: 12px;
	font-weight: bold;
	color: #000;
}
.section-left-inner ul li p {
	padding: 0;
	font-size: 12px;
	color: #000;
}
.section-right {
	width: 692px;
	float: right;
	padding: 0 19px 0 0;
}
.section-right-inner {
	width: 674px;
	border: 1px solid #e3e3e3;
	padding: 8px 9px;
}
.video-info {
	float: left;
	width: 200px;
}
.video-info h6 {
	font-size: 12px;
	font-weight: bold;
	color: #000;
	padding: 0 0 25px 0;
}
.video-info span {
	display: block;
	padding: 0 0 12px 0;
}
.video-info p {
	line-height: 18px;
	padding: 0 0 0 0;
}
.video-list {
	padding: 28px 0 0 0;
}
.video-list ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.video-list ul li {
	float: left;
	padding: 0 31px 15px 0;
}
.video-list ul li p {
	padding: 0;
}
.video-right-player {
	width: 447px;
	float: right !important;
}
.video-list-thumb {
	display: inline-block;
	padding: 3px;
	background: #fff;
}
.video-list-thumb:hover, .video-list-thumb.active  {
	display: inline-block;
	padding: 3px;
	background: #2cabe2;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
}
/*mateen styles end here*/



/**************************************************Waqas styles start here************************************/



.vid_style {
	padding:1px;
	background:#fff;
	border:#f1f1f1 1px solid;
	box-shadow: 0 0 5px #f1f1f1;
}
.keyword_table {
	padding:10px 0 10px 0;
	border-bottom:#e6e5e4 1px solid;
}
.keyword_table th {
	text-align:left;
	font-weight:bold;
	line-height:18px;
	padding:8px 0 8px 0;
	border-bottom:#e6e5e4 1px solid;
}
.keyword_table td {
	line-height:18px;
	padding:8px 0 8px 0;
	line-height:18px;
}
.category_table {
	border-bottom:#e6e5e4 1px solid;
}
.category_table td {
	line-height:18px;
	padding:8px 25px 8px 25px;
	line-height:18px;
}
.category_table tr {
	background:#f9f9f9;
	border-top:#fff 1px solid;
}
.category_table tr.alter_row {
	background:#f5f5f5;
}
.category_table tr.tab_head {
	background:#fff;
	border-bottom:#e6e5e4 1px solid;
}
.category_table td.action {
	padding:8px 0 8px 0;
}
.category_table td.action a {
	color:#2cabe2;
	margin:0 3px;
	text-decoration:underline;
}
.category_table td.action a:hover {
	color:#4f4f4f;
}
.category_table tr.tab_head {
	border-top:0 none
}
.category_table tr.tab_head td {
	padding-top:0;
	line-height:normal;
}


/*Waqas styles end here*/
