* {

	padding: 0;

	margin: 0;

}

strong {

	font-weight: bold;

}

.close-button {

	font-size: 12px;

	font-weight: bold;

	color: #828282;

	text-decoration: none;

	float: right;

	margin: 22px 0 0 0;

}

.close-button:hover {

	text-decoration: underline;

}

.popup-wrapper {

	background: url(../images/popup-bg.png) repeat;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 12px;

	color: #4f4f4f;

}

.popup {

	width: 463px;

	margin: 0 auto;

	margin-top: 100px;

}

.popup-logo {

	float: left;

}

.popup h2, .model_large_ppup h2 {

	font-size: 24px;

	color: #4f4f4f;

	padding: 5px 0 8px 0;

}

#popup-header {

	width: 415px;

	height: 66px;

	padding: 10px 18px 0 30px;

	background: url(../images/popup-header.png) no-repeat;

}

.popup-content, .pp_cont {

	background: #fff;

	border-bottom-left-radius: 10px;

	border-bottom-right-radius: 10px;

	padding: 10px 20px 15px;

}

.center-text {

	text-align: center;

}

.popup-content p {

	line-height: 25px;

	padding:8px 0 20px 0;

	font-size:14px;

}

.submit-buttons {

	width: 100%;

	overflow: hidden;

	text-align: center;

	padding: 0 0 5px 0;

}

.submit-buttons a {

	min-width: 81px;

	width: auto !important;

	width: 81px;

	height: 34px;

	text-align: center;

	font-size: 15px;

	font-weight: bold;

	color: #fff;

	text-shadow: 1px 1px 1px #353535;

	display: inline-block;

	line-height: 33px;

	text-decoration: none;

	padding: 0 8px;

	border-radius: 8px;

	-moz-border-radius: 8px;

	-webkit-border-radius: 8px;

	-khtml-border-radius: 8px;

	box-shadow:0 1px 1px #CECECE;

	margin: 0 3px 0 0;

}

.submit-buttons a:hover {

	opacity: 0.9;

}

.pink-button {

	background: url(../images/pink-button.gif) repeat-x top;

}

.grey-button {

	background: url(../images/grey-button.gif) repeat-x top;

}



.popup-content .edit_form_y{

	padding:5px 0 5px 0;

}



.popup-content .edit_form_y p{

	font-size:12px;

	font-weight:bold;

	padding:0;

	line-height:normal;

}



.popup-content .edit_form_y .sbmt_dv{

	padding:10px 0 0 0;

}



.popup-content .edit_form_y .sbmt_dv .btn{

	width:80px;

}



.popup-content .edit_form_y .input_field{

	width:405px;

}



.popup-content .edit_form_y select.input_field{

	width:423px;

}


/*13/3*/

.model_large_ppup {
	width:1000px;
	margin:0 auto;
	padding:50px 0 0;
}
#pp_header {
	width:auto;
	background:url(../images/pp_new_header_bg.gif) repeat-x;
	border-top:1px solid #fff;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	height:65px;
	padding:10px 18px 0 30px;
}
.model_large_ppup .pp_cont {
	padding:10px;
}
.tuca {
	text-decoration:underline;
	color:#FF0198;
}
.msg_cntr_tab .acc_tabs ul li {
	border: medium none;
    border-radius: 0 0 0 0;
    line-height: 33px;
	background: url("../images/tabs.gif") repeat-x scroll left top transparent;
	display: block;
    float: left;
    height: 34px;
    margin-left: 2px;
}

.msg_cntr_tab .acc_tabs ul li a {
    border: 1px solid #DBDBDB;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    color: #828282;
    font-weight: bold;
    padding: 0 15px;
	display: block;
    text-decoration: none;
    text-shadow: 1px 1px 1px #FFFFFF;
}
.msg_cntr_tab .acc_tabs ul li:first-child {
    margin-left: 0;
}
.msg_cntr_tab .acc_tabs ul li.active {
    background: url("../images/activetab.gif") repeat-x scroll left top #F7F7F7;
    padding-bottom: 3px;
    position: relative;
    z-index: 500;
	margin-bottom: -1px;
}
.msg_cntr_tab_not_main .acc_tabs ul li.active {
    background: none repeat scroll 0 0 #FFFFFF;
}

.msg_cntr_tab .acc_tabs ul li.active a {
    border-bottom: medium none;
    color: #828282;
    padding-bottom: 3px;
}
.msg_cntr_tabs_cont, .msg_cntr_tabs_cont_inner {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DBDBDB;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    position: relative;
    z-index: 100;
}
.msg_cntr_tabs_cont_inner {
    padding: 20px;
}
.msg_cntr_tabs_cont_inner .edit_form p span {
    color: #828282;
    display: inline-block;
    line-height: 20px;
    padding-bottom: 3px;
}
.msg_cntr_tabs_cont_inner .edit_form_dif_color p, .msg_cntr_tabs_cont_inner .edit_form_dif_color p span {
    color: #4F4F4F;
}
.model_large_ppup h2{
	padding:0 0 8px;
}

/*ymp 19/3*/

.msg_tbl a {
	color:inherit;
	text-decoration:underline;
}

.msgtb_rgt {
    line-height: 34px;
}
.msgtb_rgt span {
    display: inline-block;
    margin-left: 30px;
}
.msgtb_rgt span a {
    color: #FF0198;
    text-decoration: none;
}
.msgtb_rgt span a:hover, .msgtb_rgt span a.current {
    text-decoration: underline;
}
.msgtb_rgt span.dfrnce {
    margin: 0 4px;
}

div.msg_cntr_tabs_cont th {
    background: none repeat scroll 0 0 #F7F7F7;
    height: 50px;
    line-height: 50px;
    padding: 0;
	border-bottom: 1px solid #E8E8E8;
	text-shadow: 1px 1px 1px #fff;
	color:#4f4f4f;
}
div.msg_cntr_tabs_cont td {
    padding: 8px 0;
    vertical-align: middle;
}
.img_with_brdr_sdw {
    box-shadow: 0 0 3px 1px #E9E9E9;
    padding: 1px;
}
div.msg_tb_tabel ul li.active {
	background:#f7f7f7;
}
.edit_form p span.abs_span1 {
	position:absolute;
	left:11px;
	top:93px;
	font-weight:bold;
	color:#828282;
	font-size:14px;
}

